[2018-01-03 22:25] vpenades opened #35 "Font renders with holes"
Using ImageSharp 1.0.0-beta0002

I tried to render Windows 10 System font "Bahnschrift".

This is the result:

![bahnschrift font](https://user-images.githubusercontent.com/5433822/34542523-36a5a5da-f0dd-11e7-83be-6d83650b332b.jpg)

[2018-03-15 11:46] Astralking opened #4 "Shapes: FeatureRequest - Copy functionality for AddArc on PathBuilder"
### Prequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it ha

[2018-03-22 17:25] FrancoFun opened #15 "Rasterizing artifacts when rendering line with DrawLines"
### Description
When plotting a graph using DrawLines, if the curve crosses the same y coordinate multiple times, some unwanted horizontal lines are being rendered.

### Steps to Reproduce
Here's code producing the issue displayed in the image below. Artifacts are particularly visible on the bottom right corner.
[code]
![drawlinetest](https://user-images.githubusercontent.com/10719846/37786305-b7c

[2018-03-24 02:55] agrath opened #16 "FillPolygon ImageBrush as crop not texture"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp [built from master/source]
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Ac

[2018-05-20 10:11] tocsoft opened #5 "Fix rasterizing artifacts: offset vector operations inside `InternalPath` so they center around zero"
To prevent issues around imprecise floating point maths on large numbers we should offset all points as they are processed into the `InternalPath` precalulation data so that all values are a close to zero as possible. Then after calling `InternalPath.FindIntersection` and similar methods we apply the reverse offset into the correct space the original points applied to.

The will reduce potential i

[2018-05-21 19:51] JamieMagee opened #17 "Support for RTL text"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2018-07-30 08:05] xclud opened #6 "Shapes: Accessors for Line segments."
Looking at the source code i see there is not property to get `Start` of a `LinearLineSegment `as well as `ControlPoints` of a `CubicBezierLineSegment`.

I am doing a project and i need to load a font (using SixLabors.Fonts) and getting access to each glyph's segments.

Currently i am getting value of these private fields using Reflection, but i believe it would be a great enhancement if those pro

[2018-08-05 16:55] antonfirsov opened #7 "Shapes: Add Scan() API to IPath"
Currently region scanning implemented within `ImageSharp.Drawing` is based on `IPath.FindIntersections()`.
Calculating generic `segment x segment` intersections is unnecessary and sub-optimal in this use case.

To enable all optimizations possible in this context:
- We should define a `Scan(...)` API right on the surface of `IPath`
- Consider defining it as a multi-line scanning

[2019-04-24 13:38] gencuro opened #37 "Crashes with huge font size."
Hello.

Application crashes with font size greater than 35. Code to reproduce:

            using (var image = new Image<Rgba32>(300, 200))
            {
                string text = "TEST text foiw|\\";

                var font = SixLabors.Fonts.SystemFonts.CreateFont("Arial", 40, Fonts.FontStyle.Regular);

                image.Mutate(x => {
                    x.BackgroundColor(Rgba32.White).

[2019-06-15 16:28] pmcxs opened #18 "The performance of 'DrawLines' degrades the thinner the lines are"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2019-07-11 13:03] ToniaDemchuk opened #10 "Add possibility to make intersection of shapes"
This library has only simple difference clipping. It would be nice to have other types of clipping (intersect, union).

As I see, you use ClippingLib under the hood and it has support for intersection.

[2019-07-18 12:10] kolpav opened #19 "Draw text wrapped inside rectangle"
It would be nice to be able to draw text inside of rectangle basically replicate [feature](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/how-to-draw-wrapped-text-in-a-rectangle) present in System.Drawing.

![image](https://user-images.githubusercontent.com/19467143/61455762-c6e17980-a964-11e9-98f9-f4156b48467d.png)

Currently it is possible to wrap text at certain width using

[2019-07-22 14:06] equinox2k opened #11 "Shapes: Please add support for Non-Zero rule so that i can do SVG rendering"
imagesharp fills polygons using the even-odd rule where as the the default for svg is to use the nonzero-rule a fix would be required to change to Shapes to support the nonzero-rule plus a small change to Imagesharp to add to GraphicsOptions/ShapeRegion to allow passing thru the rule to use.

[2019-07-24 14:12] equinox2k opened #26 "Filling with a transparent color does not work as expected"
Using the following on an existing image to clear it does nothing...

` imageToProcess.Mutate(i => i.Fill(SixLabors.ImageSharp.Color.Transparent));`

However doing the following works...

[code]

I assume the defaults should of been good enough for the first to work

[2019-07-31 11:48] ovirta opened #12 "Shapes: DrawShapesWithImageSharp fails if decimal separator is comma for the threads locale"
Sample crashes with following if the decimal separator for the threads locale is 'comma'.

An unhandled exception of type 'System.FormatException' occurred in System.Private.CoreLib.dll: 'Input string was not in a correct format.'

Possible fix would be to add **using System.Globalization;** and **CultureInfo.InvariantCulture** parameter to float.Parse(...) calls e.g:
`    return new SixLabors.Pri

[2019-08-11 14:16] antonfirsov opened #13 "Shapes: Internal ClipperException thrown by `GenerateOutline`"
[code]

We should not throw internal exceptions, which are not communicated on the API surface.
Probably worth to review the library for more cases like this.

[2019-08-12 06:21] mysticfall opened #20 "Allow implementing custom brush types"
For now, `IBrush` is supposed to return an instance of `BrushApplicator`, but both its constructor and indexer are defined with an `internal` modifier, which makes it practically impossible to create a custom brush implementation.

It can prevent users from adopting ImageSharp in case they need a type of brush that the library doesn't support, as described in SixLabors/ImageSharp#969, for example.

[2019-11-05 07:42] warheat1990 opened #21 "DrawText result is pixelated and have inconsistent result"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-01-17 22:01] KingKnecht opened #3 "Serialization of Shapes"
Wouldn't it make sense to provide serialization for the shapes, matrix, point, etc?

[2020-01-17 22:03] feliwir opened #8 "Shapes: Add polygon triangulation"
Hey, i was just exploring this project a bit and was wondering if it would be interesting for you to have a Polygon Triangulator. This task is quite frequently needed in computer graphics related projects. So the proposal would be to add a function to the polygon class, which returns a list of triangles.

As a foundation for such an algorithm this could be used: https://github.com/mapbox/earcut

[2020-01-17 22:04] Spawnkid opened #9 "Feature Request: Optional rounded corner in RectangularPolygon"
Though this would work on images [https://github.com/SixLabors/Samples/blob/master/ImageSharp/AvatarWithRoundedCorner/Program.cs](url) this is not possible in Shapes where you need to use Pen (all paths should be closed).  See attached sample
![rounded dashed rectangle](https://user-images.githubusercontent.com/28699801/50329938-352b9e00-0534-11e9-8a78-f980d044bb6a.png)

It might be a good idea to

[2020-01-17 22:10] antonfirsov opened #14 "Shapes: "ability to change fill type""
There was an open PR in Shapes: SixLabors/Shapes#68 by @equinox2k. If it's still something we need, than it shall be re-done it in the new repo, otherwise feel free to close this issue.

[2020-01-17 22:26] antonfirsov commented on #15
Closing as Duplicate of #5.

[2020-01-17 22:27] #15 closed

[2020-01-17 22:28] antonfirsov commented on #5
Note: there is valuable input in the discussion under #15.

[2020-01-17 22:35] jongleur1983 opened #22 "Support different Gradient modes for Color gradient brushes"
In general Gradients from colorA to colorB can have different styles, e.g. gradienting around the color-wheel (clockwise, counter-clockwise), gradienting in a straight line in the color cube or something else.
A sample for that can be seen in Gimp, that has the following options (condensed to those relevant for ImageSharp Gradients):
![image](https://user-images.githubusercontent.com/2063360/68461

[2020-01-20 06:12] #11 closed

[2020-01-20 06:12] #14 closed

[2020-01-20 13:20] #12 closed

[2020-02-24 12:14] atruskie opened #28 "Drawing non-antialiased 1px high line at Y 0 coordinate is not rendered (coordinates seem to be off by 1)"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-03-02 03:27] boxofyellow opened #29 "Some operations on cloned images appear to be lost when performed in Parallel.For"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp **using 1.0.0-beta0007**
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode  **I have only observed this using the nuget package and does reproduce in both debug and release builds of test app**
- [x] I have searched [open](https://gi

[2020-03-02 05:05] atruskie opened #30 "Drawing text fails if x-coordinate is around -1*fontSize"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-03-26 16:01] oOtroyOo opened #32 "How to deal with errors of DrawText caused by Fonts missing character"
[code]

It caused error when I was trying to draw a custom font . the font might not have all the charactors ,
If I could . Can I set a default font to DrawText for each charactor whitch is missing in font ?

[2020-04-02 19:59] arakis opened #34 "Exception while drawing text"
### Description

I get the following Exeption below.

Code i ran:

[code]

After multiple of million calls, the exception occured. I was not able to reproduce it! But maybe you have an idea what happend.

The text is writen in the UpdaterThread, but image is readed in a RenderThread. It just juses the `DangerousGetPinnableReferenceToPixelBuffer` and is not modifying any data:

[code]

[code]

###

[2020-04-04 12:26] arakis commented on #34
It happened again now.

Since I moved from Framework 4.72 to .NET Core 3.1 yesterday, I will try now:
[code]

Just a guess: Are the internal allocations threadsafe? So, can multiple Threads create/destroy (seperate images, of course) at the same time?

[2020-04-04 16:02] antonfirsov commented on #34
Yes, all those internals are supposed to be thread safe. It's unlikely we have a bug in this area.

[2020-04-04 16:18] arakis commented on #34
Image Size: 100x100
Font: Dejavu Serif (common on Linux), regular, Size 15
Text:
[code]

But beware: This bug occurred only 2x in round about 200 starts. It's a very rare bug.
Generally, i can garantee, that the Reader-Thread (the OpenGL Renderer Routine in this case) do no write. Only the Updater-Thread is writing to the image - without resizing. They can infere (there's no lock), but this should

[2020-04-04 16:32] arakis commented on #34
I was able to reproduce it. I think my guess was correct, if the string is very large, the exceptions will be thrown every time. I tried to provocate with a larger string as normal (42 in Length), and that's the result:

![image](https://user-images.githubusercontent.com/1831942/78456170-689b2900-76a2-11ea-9363-33958577b356.png)

The String being written:
[code]

[2020-04-04 16:41] JimBobSquarePants commented on #34
Ah ok, yep that makes sense; we need to determine our preferred behavior then. Throw or Crop.

In `DrawImage` we only throw if there is no overlap of the target and source image locations. We simply chop off what doesn't fit the bounds of the destination.

[2020-04-04 16:55] tocsoft commented on #34
we shouldn't be throwing when a shape/text being drawn extends beyond the visible area of the image/rectangle...we should be just cropping we do do this we just must have an edge case that is hitting the very edge... guessing we have an off by one issue somewhere in the brushes

[2020-04-04 17:10] arakis commented on #34
Drawing a text should (by default) always cropped because otherwise the developer has always to check the bound.

In my opinion, a draw should never throw (by default), that's the same behavior as System.Drawing and Cairo (Unix based drawing system). It has good reasons.

[2020-04-04 20:58] tocsoft commented on #34
I've just tested this issue against our beta7 release where the issue occurs and again against our latest nightly (myget) where the error no longer presents itself.... in hindsight I vaguely remember fixing an issue like this in the past, looks like I've already fixed this one.

If you can please try against our nightlies if possible that should resolve your issue.

[2020-04-04 20:58] #34 closed

[2020-04-05 08:25] arakis commented on #26
Here is a little extension that makes life easier:

[code]
Just call it:
[code]

[2020-04-11 22:16] tocsoft commented on #35
Moved it to this repo as its a rendering issue not a layout/font loading issue

[2020-04-14 12:04] atruskie opened #38 "Support blending for Fill operations when targeting Rgb24 image"
Please add support for blending colors with an alpha component when using the fill operation by

Code example:

[code]

The above example fails with ImageSharp.Drawing 1.0.0-unstable0421

# Gitter context

<details>
<summary>...copy of chat log...</summary>

</details>

[2020-04-14 15:39] tocsoft commented on #38
Hmm... I would expect that to 'just work'.

My guess is we are not translating the throwing alpha channel of the Vector4 away during conversion from Vector4 => Rgba24.

@JimBobSquarePants I would, for example, expect `Rgba32(255,255,255, 128)` == `Rgb24(128, 128, 128)` that's what's intuitive for the operations in my opinion... which is the equivalent of what's happening above.

[2020-04-15 13:22] JimBobSquarePants commented on #38
@tocsoft That would contradict how things like  work like converting a png to a jpeg. We, and other libraries simply drop the alpha.

What we need to do is pass the `Color` we input in to the blender in a pixel format that supports the alpha component. The fix is easy I think.... Instead of using `TPixel` for the brush pixel format we use `RgbaVector` and use the overload for blend that allows dif

[2020-04-15 13:58] JimBobSquarePants commented on #38
Ok.... This code returns the expected result however I'm not sure this is the correct fix. What is the indexer used for? How do we ensure application is consistent across all brushes?

[code]

[2020-04-18 16:00] #35 closed

[2020-05-02 18:01] tocsoft opened #40 "Add optimizations to the `FillPathProcessor` that can detect rectangles"
When filling a `RectangleF` that doesn't overlap pixel boundries (i.e. RectangleF == Floor(RectangleF)) or filling a rectangle when anti-aliasing is disabled then we should use the faster `FillProcessor` rather than the vector rendering `FillRegionProcessor`.

`FillProcessor` will need updating to support passing the rectangle thru as the Source rectangle of the `FillProcessor<TPixel>` processor

[2020-05-02 18:01] tocsoft opened #41 "Add Clear() methods to force drawing the provided color over a region"
This is a special case of clear with a forced `PixelAlphaCompositionMode.Src` & `PixelColorBlendingMode.Normal`.

For best efficiency this is dependent on #40 so you can composite the fastest path without have to special case to many things.

[2020-05-02 18:08] tocsoft commented on #26
Untill we add our own set of `Clear()` apis the most efficient way to do this as of now is
[code]

[2020-05-02 18:13] tocsoft commented on #41
This Api would solve #26... 2nd question is should `Color.Transparent` on the `Fill` APIs be special cased to force a `Clear()` operation?

[2020-05-04 17:14] #32 closed

[2020-05-04 19:47] #40 closed

[2020-05-06 20:20] #41 closed

[2020-05-06 21:38] #26 closed

[2020-05-13 03:58] n8allan opened #44 "NuGet package incompatible with 1.0.0-rc0001 release of ImageSharp"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-05-13 09:21] James-Jackson-South commented on #44
Thanks @n8allan

There are compatible builds on MyGet but we should release a new beta to Nuget to make it easier for consumers.

@tocsoft other than the basics, is there any reason you think we couldn't publish a new beta?

[2020-05-13 09:23] tocsoft commented on #44
going to start pulling an updated beta together today

[2020-05-13 11:13] tocsoft commented on #44
SixLabors.ImageSharp.Drawing 1.0.0-beta0008 has been released that's compatible with  the imagesharp 1.0.0-rc0001 release.

[2020-05-13 11:13] #44 closed

[2020-05-22 17:29] 13xforever opened #47 ".DrawText() overload with Brush and Pen throws IndexOutOfRangeException"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-05-24 07:30] SebastianStehle opened #46 "Cannot render custom font"
Hi,
I have a font family with icons generated from icomoon. I need to generate images from them and facing a bug with some icons.

The icon I am going to render is unicode "926"

I am facing several issues:

0. The wrong glyphen is detected.

1. For some glyphs, including for unicode 926 I get the following error:

[code]

2. Furthermore: When a glyph is not found I get another error:

[code]

###

[2020-05-25 13:08] SebastianStehle commented on #46
The same with System.Drawing:

[code]

Works fine there.

[2020-05-25 20:41] antonfirsov commented on #47
@13xforever FYI I transferred your issue, we track ImageSharp.Drawing stuff under it's own repository now.

[2020-05-27 20:56] gravity-ai opened #48 "Transformations/clips/etc on IPath can produce a ComplexPolygon that has a child path of length 0."
### Prerequisites

- [x ] I have written a descriptive issue title
- [ x] I have verified that I am running the latest version of ImageSharp
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ ] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure i

[2020-05-28 00:54] gravity-ai commented on #48
Looking deeper into the problem, the example code I submitted doesn't fully handle the issue. I'm digging into it more and will report when I have more information.

[2020-06-03 08:09] #48 closed

[2020-06-03 08:09] #47 closed

[2020-06-08 18:22] arakis opened #54 "ArgumentOutOfRangeException: Parameter "bufferAlignment" (System.Int32) must be greater than or equal to 0, was -2147483643"
Today, I got a bug report from a user of my open source project:

![image](https://user-images.githubusercontent.com/1831942/84065661-01149900-a9c5-11ea-9310-88b342fe6ffd.png)

[code]

Original issue https://github.com/AximoGames/AxEngine/issues/3

SixLabors.ImageSharp: 1.0.0-rc0001
SixLabors.ImageSharp.Drawing: 1.0.0-beta0008

Because this issue don't happen on my own device, I have no idea what

[2020-06-19 07:32] woutware opened #55 "Crash: DrawPathExtensions.Draw throws IndexOutOfRangeException for small (closed) path."
Code to reproduce:

[code]

[2020-06-22 21:25] JimBobSquarePants commented on #55
I'll have a look at this ASAP.

[2020-06-22 21:53] woutware commented on #55
This is likely a pretty complex issue, be warned.

[2020-06-23 10:14] avbelkin opened #59 "IndexOutOfRangeException in DrawLines"
After updating to ImageSharp.Drawing beta-009 and running DrawLines I've got a large number of **IndexOutOfRangeException** in Simplify. Surrounding code was not changed. I've used both beta and debug build from latest source code.

I've created dotnetfiddle to reproduce the problem:
https://dotnetfiddle.net/6AAPHy

DrawLines can crash even with five points in line like:
`new []{ new PointF(85,62)

[2020-06-23 21:39] #55 closed

[2020-06-23 21:39] #59 closed

[2020-06-24 09:33] woutware commented on #55
Thanks for the quick fix! When will this make it into the next nuget release? This bug is currently blocking me from using the current version.

[2020-06-24 11:26] JimBobSquarePants commented on #55
I'll try and push a new drawing beta later tonight. I can bump up the dependencies at the same time.

[2020-06-24 19:46] JimBobSquarePants commented on #46
@SebastianStehle

Looks like I've fixed this with other changes. Likely #60

**System.Drawing**
![e96-sd](https://user-images.githubusercontent.com/385879/85620314-82258e80-b65b-11ea-9986-d2758edf4f7f.png)

**ImageSharp.Drawing**
![e96](https://user-images.githubusercontent.com/385879/85618712-17735380-b659-11ea-94d2-b36c89eb004d.png)

[2020-06-24 20:03] JimBobSquarePants commented on #37
@gencuro looks like we've already fixed this in master. We'll be releasing beta 10 soon with all the latest fixes.

[code]

[2020-06-24 20:03] #37 closed

[2020-06-24 20:04] #46 closed

[2020-06-24 20:10] JimBobSquarePants commented on #30
Thanks for adding such detail @atruskie !!

I created a test case from your reduced sample and it looks like we've fixed this in master. Likely with #60

We'll ship beta10 very soon containing all relevant fixes.

[2020-06-24 20:10] #30 closed

[2020-06-24 21:18] JimBobSquarePants commented on #28
There's a potential fix to this but I will need your advice @tocsoft as I don't know whether this is correct.

The issue looks to me like a rounding error. We lose information when a line is only 1px thick so everything is offset when Clipper does it's thing.

https://github.com/SixLabors/ImageSharp.Drawing/blob/92098af01c0d51476c3891143cb35d378a747753/src/ImageSharp.Drawing/Shapes/Outliner.cs#L22

[2020-06-25 02:17] atruskie commented on #30
Awesome - I've got a smoke test that should fail when this is fixed. I'll look forward to testing it.

Thanks 😄

[2020-06-25 09:27] JimBobSquarePants commented on #28
Looks like my fix is definitely bad. Here's System.Drawing

![text-test](https://user-images.githubusercontent.com/385879/85693698-60192400-b6ce-11ea-80a4-b1ccbf7f4e3a.png)

[2020-06-26 03:39] tzachshabtay opened #61 "Drawing text is too slow"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2020-06-26 10:25] JimBobSquarePants commented on #61
Yeah, we've got a fair amount of performance work to do...

There's probably a fair amount of low hanging fruit....I can take ~15% pretty easily from `InternalPath.FindIntersection(in Segment source, in Segment target)` pretty easily by moving the method to the `Segment` struct which allows inlining but I think we need to do a proper review. @tocsoft is there anything you particularly would like a

[2020-06-26 12:26] tocsoft commented on #28
I plan to try to take a look over this issue this weekend, I think I need to create some comparisons with of other libs and see where we differ and how.

[2020-06-26 12:32] tocsoft commented on #61
the find intersections stuff is definitely the hottest path in the whole of our vector drawing so anything to help in there would be awesome.... other things to consider is our whole rasterization algorithm is rather naive and  there might be changes we can make in there instead that could reduce the amount of can lines we perform (by default we process each pixel I think 16 times while anti-alias

[2020-06-26 21:15] JimBobSquarePants commented on #61
@tocsoft I've managed to take 25% of the processing time for that method so far. Having a look at some intrinsics for additional boosts.

I have a question regarding the double precision code. My current implementation is using single precision and all the tests are passing. Is there a test I can run to prove I still require double precision?

[2020-06-26 23:57] JimBobSquarePants commented on #61
@tzachshabtay I just had a quick look at your code and it looks like you are rendering the string without antialiasing in the System.Drawing version. Our default options have antialiasing enabled. Could you turn that off and then please compare performance.

[2020-06-27 02:06] tzachshabtay commented on #61
Ah, turned off antialiasing, I'm now getting between 25-65ms (median: 45ms).
So, great improvement, still too slow.
`FindIntersectionsWithOrientation` is still the bottleneck.

[2020-06-27 21:40] JimBobSquarePants commented on #61
We'll have a look but there's no guarantee that we will be able to make dramatic improvements any time soon. There's a lot to assess.

[2020-06-29 11:39] antonfirsov commented on #61
@tocsoft @JimBobSquarePants we don't need a generic intersection finding algorithm, since one of the lines is [always horizontal](https://github.com/SixLabors/ImageSharp.Drawing/blob/ea10a7bc1c69e43628df56c92c9a007c09ec6793/src/ImageSharp.Drawing/Primitives/ShapeRegion.cs#L45-L46). Additionally, the intersection finding should be a bulk operation (faster by default, even faster if SIMD optimized).

[2020-06-29 11:53] woutware commented on #55
Hi, I didn't see a new release on nuget yet.

[2020-06-29 12:19] JimBobSquarePants commented on #61
@antonfirsov The current implementation I have is based on DirectX Maths which has an SSE path I can quite easily implement if I know that I can carry  on with single precision. I've not done any work adding that and won't until I can derive a test to ensure my implementation can replace the current double precision one.

I'm really scratching the surface with the API at the moment so I wasn't awa

[2020-06-29 19:12] antonfirsov commented on #61
@tzachshabtay we need to rasterize the polygon. The current naive approach is to calculate `line x line` intersections for each horizontal pixel line crossing the polygon lines. We'd be more than happy to accept a community contribution improving this.

[2020-06-29 19:23] tocsoft commented on #61
That's correct except we do it multiple times per line to create a series of subpixels which we use for antialias purposes.

[2020-06-29 20:54] JimBobSquarePants commented on #61
Current (25% faster) segment intersection impl. https://github.com/SixLabors/ImageSharp.Drawing/blob/ec4d6d3dd3336cd20e7b5d64288facc7e49479bf/src/ImageSharp.Drawing/Shapes/InternalPath.cs#L926

[2020-06-29 21:57] JimBobSquarePants commented on #55
I have a PR ready to review. I'll drop it tomorrow morning if no one objects.

[2020-06-30 13:23] JimBobSquarePants commented on #55
Beta 10 available now.
https://www.nuget.org/packages/SixLabors.ImageSharp.Drawing/1.0.0-beta0010

[2020-06-30 14:04] JimBobSquarePants commented on #5
Can someone explain why the issue in #15 only occurs with antialiasing on? I would assume (naively) that calculating intersections is something that occurs before we draw the ant aliased line?

[2020-06-30 14:07] JimBobSquarePants commented on #7
This paper on Scanline edge-flag algorithm for antialiasing looks relevant and interesting (_I think_)

http://mlab.uiah.fi/~kkallio/antialiasing/

[2020-06-30 15:29] tocsoft commented on #5
**Synopsis of issue:**
The precision issue causes individual intersections for individual subpixel divisions to be missed this causing the rasterizer to render the inside as the outside etc.

**Details**
The way our rasterizer works is for every pixel we divide it into multiple subpixels... for anti-aliased drawing this is driven from  `GraphicsOptions.AntialiasSubpixelDepth` for with a minimum of

[2020-06-30 21:23] JimBobSquarePants commented on #5
Man... I don't get rasterizing at all...

[2020-07-01 13:21] woutware commented on #55
It looks like the ImageSharp package also needs to be updated, as I'm still getting an exception in my bug test program. Callstack below:

[code]

[2020-07-02 17:34] pekspro commented on #54
Funny, I run into the same problem playing around with the sample code. Creating pen with:

    Pens.DashDot(Color.White, 0);

or

    Pens.Solid(Color.White, 0);

makes bad thing happen. See sample code below.

        {
            int width = 768;
            int height = 438;

            // Creates a new image with empty pixel data.
            using (var image = new Image<Rgba32>(width, heig

[2020-07-03 15:56] JimBobSquarePants commented on #54
@pekspro Thanks so much for this, it's invaluable for debugging.

I've been following the  trace using  your second sample with the solid pen to two key areas:

At this Clipper returns an array of zero length. I'm assuming because `width` is `0`.
https://github.com/SixLabors/ImageSharp.Drawing/blob/425bdbd9b4df45dff3baaf70f94b48b28682651d/src/ImageSharp.Drawing/Shapes/Outliner.cs#L222

This array

[2020-07-03 16:46] tocsoft commented on #54
Nice investigation.

I feels like both need fixing individually. First I would think we should sanitize Pen widths first, as a width of zero just makes no sense. Then complex polygon should special case the empty array input so that its bounds end up set to `RectangleF.Empty` in case any user code accidently tries the same.

[2020-07-04 06:08] pekspro opened #65 "Exception when drawing rectangle outside image area"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2020-07-04 09:00] tocsoft commented on #65
@pekspro we don't have an  1.0.0-rc0003 version of `ImageSharp.Drawing`  as its still in beta can you please confirm the version of  the drawing package please

[2020-07-04 09:14] pekspro commented on #65
Ups, sorry about that @tocsoft . I am using:

SixLabors.ImageSharp - 1.0.0-rc0003
SixLabors.ImageSharp.Drawing - 1.0.0-beta0010

[2020-07-16 12:22] #65 closed

[2020-07-17 10:20] #54 closed

[2020-07-17 12:56] #28 closed

[2020-08-05 13:56] EngRajabi opened #77 "image draw utf-8 text on image"
Write text in an image when the text is utf8. Broken is shown

[2020-08-05 13:59] dlemstra commented on #77
We have an issue template. It's there for a reason...

[2020-08-05 13:59] tocsoft commented on #77
Like I mentioned over at https://github.com/SixLabors/ImageSharp/issues/1306 please actually fill in the template provided when raising the issue.

[2020-08-05 19:48] implemental commented on #18
Wouldn't a simple explanation behind why larger lines are faster is because the stopwatch includes the PNG saving to disk and larger lines produce a less-complex PNG and therefore improves performance during serialization.

[2020-08-05 20:23] JimBobSquarePants commented on #18
@implemental Yep, that’s definitely a factor. I hadn’t actually looked at the benchmarking code.... it’s not great.

System.Drawing saves png’s at zlib compression level 1 with no filter where we use level 6 with paeth filtering. The encoding speed alone with be 2-3x slower.

[2020-08-08 14:59] tocsoft commented on #77
closing this due to lack of detail... if you can provide the details required from our template feel free to open again but with our template filled in rather than ignored.... ensure you include sample code to reproduce the issue and details of the expected outcome.

[2020-08-08 14:59] #77 closed

[2020-08-12 17:48] EngRajabi opened #81 "Render text with ligatures"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2020-08-12 17:55] tocsoft commented on #81
What version do you mean as 'latest'... the word 'latest' doesn't age well if we still have this issue in 6months after we have release multiple new releases then we need to know when it was first seen etc.

Can you please provide details about what font your using if possible attach the actual font file that cause issues..
Can you please provide a code sample that we can run to reproduce the issu

[2020-08-12 18:08] EngRajabi commented on #81
drawing version: 1.0.0-beta0010
image sharp version: 1.0.0
font : B Nazanin.ttf

code: SixLabors.ImageSharp.Drawing.Tests.Drawing.Text.DrawTextOnImageTests
[code]

[2020-08-12 18:11] tocsoft commented on #81
awesome... thanks for that.

ok is the problem then that the letters are outlined rather than filled in?

[2020-08-12 18:15] EngRajabi commented on #81
The right word: "محسن رجبی"
The word printed on the photo: "ی ب ج ر  ن س ح م"

[2020-08-12 18:19] tocsoft commented on #81
ah ok. That should be enough so that someone can start investigating.

[2020-08-12 18:24] tocsoft commented on #81
In the mean time something you should be aware of is we don't actually have any support real for true right to left rendering... closest we have is we can right align left to right text.

Same actually applies to top to bottom.

[2020-08-13 08:06] tocsoft commented on #81
For any future people (probably myself) looks like this probably actually due the the lack of ligature support in https://github.com/SixLabors/Fonts

https://github.com/SixLabors/Fonts/issues/150 has been raised to track this.

Might need follow up work for wider Right to Left support to ensure word ordering and punctuation placement is correct.

[2020-08-17 19:28] ryanackley opened #82 "ImageSharp.Drawing transformations are unintuitive"
If you're coming from any other graphics API, ImageSharp's transformations are unintuitive because they behave a little strangely in comparison. Look at this code

[code]
Coming from OpenGL, GDI+, Javascript Canvas, etc., you would expect this code to apply the transformation to `DrawText `. What it actually does is apply the transformation to what's already been drawn. This makes it impossible to

[2020-08-17 19:40] #82 closed

[2020-08-18 16:18] JimBobSquarePants opened #83 "Add Matrix Transforms to DrawText API"
See #82

Add overloads that accept `Matrix3x2` (Affine Transform) and `Matrix4x4` (Projective Transform) parameters to the `DrawText` API

Alternatively pass the respective builders `AffineTransformBuilder` and `ProjectiveTransformBuilder`.

TODO:
- [ ] Flesh out proposed API with examples.

[2020-08-26 16:44] JimBobSquarePants commented on #5
I think we should have a serious look at this implementation. It's well documented and appears to have excellent performance and quality characteristics.
http://mlab.uiah.fi/~kkallio/antialiasing/

It's interesting enough that team behind Blend2d is looking at it also. https://gitter.im/blend2d/blend2d?at=5ea0228e71a34b0149013568

It also holds out well under extreme scrutiny here
https://cairo.ca

[2020-09-02 21:56] tocsoft commented on #61
If I recall correctly I did try profiling this stuff (it was a little while ago) after this was applied and it did nicely help offset that as the point of contention.

Code by @JimBobSquarePants seemed to work fine and help. However after implementing it the next bottleneck is the pixel blending (which lives over in the core library rather than in Drawing). I think the blender would need to be loo

[2020-09-15 09:52] matyasforian opened #86 "Crash when trying to render non-existent glyph"
### Description
ImageSharp crashes when trying to render a glyph that does not exist in the loaded font.
Stack trace:
[code]

### Steps to Reproduce
Run this code:
[code]

### System Configuration
- ImageSharp.Drawing version: 1.0.0-beta0010
- Other ImageSharp packages and versions: 1.0.1
- Environment (Operating system, version and so on): latest Windows 10
- .NET Framework version: .NET Core 3.0

[2020-09-15 13:00] matyasforian opened #88 "text VerticalAlignment does not work correctly"
### Description
VerticalAlignment.Top places the text a bit below the top, VerticalAlignment.CENTER places it a bit above the top, VerticalAlignment.BOTTOM does not render anything.

### Steps to Reproduce
[code]

the resulting image:
![eerrff](https://user-images.githubusercontent.com/21174134/93213441-24897580-f764-11ea-850b-a1831de33a2d.png)

### System Configuration

- ImageSharp.Drawing versi

[2020-09-15 16:40] tocsoft commented on #88
You are rendering them relative the the top left corner so what your code is saying is,  align the text so the bottom is at the bottom most point I have told you about and wrap going upwards from the bottom to the top, which being ends up positioning you off the top of the canvas. so for bottom to work as you expect correctly you need to position at (0, image.Height).
As for center it moves up and

[2020-09-15 18:22] matyasforian commented on #88
oh I see, so the `VerticalAlignment` property is more like setting the pivot's vertical coordinates. Perhaps it'd be good to rename it to something like `PivotVerticalAlignment`.

[2020-09-15 18:22] #88 closed

[2020-09-18 12:25] antonfirsov opened #90 "Speed up scan-line rendering using "Active Edge Table""
Currently, brute force search is being used when calculating intersections, the scanline is being tested against all lines in the polygon for each row. This means `O(h*n)` intersection tests where `h` is the number of horizontal edges and `n` is the number of lines.

The fastest way to achieve significant improvement with a (relatively) scoped change is to refactor the intersection detection logic

[2020-09-18 12:25] antonfirsov commented on #7
Closing this in favor of #90

[2020-09-18 12:25] #7 closed

[2020-09-18 13:37] tocsoft commented on #90
Yeah that sounds good to me... I am assuming implementation wise most Path implementations will be forwarding to a common helper for generating the tessellation results from the `Flatten`ed representation? if that's the case I think we should instead introduce a new interface `ITesellationAwarePath` (name?) that we try casting to first (for thing like Rectangle I think) and if it doesn't implement

[2020-09-18 14:06] antonfirsov commented on #90
Yeah, being very conservative about public API-s, I had the same thought. `ITesellationAwarePath` (or whatever) and the resulting `Tessellation` shall be internals.

[2020-09-18 14:49] antonfirsov commented on #5
Collecting some GeoJson inputs for testing:

https://github.com/ebrelsford/geojson-examples/blob/master/nyc_council_districts.geojson
https://github.com/PublicaMundi/MappingAPI/blob/master/data/geojson/us-states.json
https://github.com/PublicaMundi/MappingAPI/blob/master/data/geojson/countries.geojson
https://github.com/datasets/geo-countries/blob/master/data/countries.geojson

[2020-09-18 15:24] antonfirsov commented on #5
@tocsoft I believe the only real solution to achieve robustness here is to simplify polygons before rendering, removing sub-pixel features which are not visible, and result in numerical artifacts.

There is a simple (but `O(n^2)` algorithm to achieve this:
https://en.wikipedia.org/wiki/Ramer%E2%80%93Douglas%E2%80%93Peucker_algorithm

An example implementation:
https://github.com/imshz/simplify-net

[2020-09-18 15:45] antonfirsov commented on #5
For example, zooming into the US map artifacts and the original polygon, the island on the left contains unnecessary details.
(Note: the code in https://github.com/SixLabors/ImageSharp.Drawing/issues/15#issuecomment-521061283 is producing some vertical distortion compared to the GeoJson viewer screenshot.)

![image](https://user-images.githubusercontent.com/6835152/93617093-d24f8b00-f9d5-11ea-80bd

[2020-09-18 16:16] JimBobSquarePants commented on #5
@antonfirsov Did you see the optimized implementation of the Peucker algorithm linked at the bottom of the Wiki?

http://www.bowdoin.edu/~ltoma/teaching/cs350/spring06/Lecture-Handouts/hershberger92speeding.pdf

[2020-09-18 21:24] antonfirsov commented on #5
@JimBobSquarePants good point, haven't noticed, thanks!

 `O(n*log(n))` seems much better. Wondering if code in the appendix is robust enough.

[2020-09-28 06:10] kevinwell opened #91 "TextOptions.VerticalAlignment is aligning text lower than it used to"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2020-10-03 12:18] boxofyellow opened #92 "ImageProcessingException thrown after attempting to drawing Ascii 32 followed by Ascii 160"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing **Repro'ed on 1.0.0-beta0010, orginially found on 1.0.0-beta0007**
- [x] I have verified if the problem exists in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://g

[2020-10-03 15:29] tocsoft commented on #92
this will mostly like be because we are failing to deal with characters then end up with a zero width and then we try to create a buffer to render it to.

Not exactly sure off the top of my head why it would work when prefixed but that the zero with should be will be the crux of the problem.

[2020-10-03 19:35] tocsoft commented on #92
I can't reproduce this one on master but I could on commit beta.10 so it looks like we have already fixed this one.

@boxofyellow you might want to use our [CI releases](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp.Drawing) (all the same tests are ran for everything in our CI channel so they should be just as stable)  for now.

[2020-10-04 19:49] boxofyellow commented on #92
@tocsoft Thanks for the quick response, I have a workaround for now that will hold me.  I'll be on the lookout for the next release and switch over once it is out.

[2020-10-16 13:47] Sergio0694 opened #93 "DrawText results in blank image (UWP Release x64)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-10-16 14:02] antonfirsov commented on #93
@Sergio0694 or @emiliano84 can you please try if filling regions work? (`i.FillPolygon(Color.Red, new PointF[] { .... })` )

[2020-10-16 14:07] Sergio0694 commented on #93
Oh whoops @JimBobSquarePants my bad, forgot we had split the two packages into separate repos 😅

@antonfirsov sure, on it!

[2020-10-16 14:07] antonfirsov opened #94 "Review and fix parameter names and XML docs in extension methods"
There are many leftovers from the time when extension methods used to operate on an image:

https://github.com/SixLabors/ImageSharp.Drawing/blob/799d6afce0749f3316f6e766ac8884cccc9ef46b/src/ImageSharp.Drawing/Processing/Extensions/DrawLineExtensions.cs#L95-L100

[2020-10-16 14:13] antonfirsov commented on #93
If filling polygons also reproduces the issue, please also try:
- `ctx.Fill(Color.Red)`
- `ctx.Fill(someNonSolidBrush)` (Eg. `Brushes.Percent20Pattern`)

[2020-10-16 14:30] Sergio0694 commented on #93
@antonfirsov `FillPolygon` seems to work fine 😄

For reference:

[code]

### Debug x64
![fill](https://user-images.githubusercontent.com/10199417/96271181-dbc81500-0fcc-11eb-9c08-49f350415d52.png)

### Release x64
![fill2](https://user-images.githubusercontent.com/10199417/96271166-d66aca80-0fcc-11eb-962e-67e8f533d7c9.png)

[2020-10-16 15:29] JimBobSquarePants commented on #93
_Sighs and unpacks the Raspberry Pi..._

[2020-10-16 15:31] Sergio0694 commented on #93
@JimBobSquarePants Wait, why the Raspberry Pi? You can repro this on Desktop, am I missing something obvious? 🤔

[2020-10-16 17:47] JimBobSquarePants commented on #93
Oh that' something... I thought this was gonna be another one of those ones.

They use their own shonky version of NET Core for this though yeah?

[2020-10-16 18:17] Sergio0694 commented on #93
That hurts, but I can't really blame you 🤣

It's always the same UWP setup regardless of the architecture:
- Some weird custom .NET Core 2.0 derived runtime in Debug mode
- .NET Native in Release mode

I should note that .NET Native is not just the compiler, it's an entirely different runtime which is used in Release.
It's basically kinda like CoreRT (in fact the two share a lot of code), heavily

[2020-10-19 12:25] emiliano84 commented on #93
Hi Guys, thanks for your help, I was out for the weekend, but I'm glad that Sergio was available to provide you support. If you have any further questions feel free to ask, I'm looking forward for a fix to be able release an update for my app, thanks a lot for your work!

[2020-10-21 08:59] hghansen opened #95 "Colour saturation gets incorrect"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2020-10-27 19:00] UkooLabs opened #97 "Issue rendering text with brush"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2020-10-28 08:46] tocsoft commented on #97
@UkooLabs can you please try the version on myget I believe this issue might have already been resolved.

[2020-11-11 22:31] antonfirsov opened #100 "Convenience constructors for shapes"
Given a `PointF` arrays `contour` and `hole`, this is how a `ComplexPolygon` could be constructed today:

[code]

It should be as easy as:
[code]

We need to review the shape types and add convenience constructors based on the principle of "good defaults".

[2020-11-13 17:34] antonfirsov opened #102 "Improve blending performance, make sure API is not a blocker"
After merging #96, blending will be the bottleneck in drawing. To address this I suggest to prototype batched variant of `NormalSrcOver` in the core library, preferably for 1.0 to make sure we can handle it with the current API without breaking changes.

![image](https://user-images.githubusercontent.com/6835152/99101431-e5996400-25dc-11eb-8143-b4cc2d86a1bc.png)

[2020-11-13 17:43] antonfirsov opened #103 "IPath: Remove unused features to enable simplifying and optimizing InternalPath"
After merging #96, `InternalPath` will become unnecessarily heavy both code and memory-wise.

Ideally it should only contain a `PointF[]` to be fed to `TessellatedMultipolygon`, the following stuff seems to be heavy and unnecessary:

https://github.com/SixLabors/ImageSharp.Drawing/blob/acf438bb7bd420a6dc349ebd1d076a1447097a6a/src/ImageSharp.Drawing/Shapes/InternalPath.cs#L933-L965

The following f

[2020-11-13 17:55] antonfirsov opened #104 "Cache ScanEdgeCollection in InternalPath"
Creation of `ScanEdgeCollection` can take up to ~7% according to [profiler results](https://user-images.githubusercontent.com/6835152/99104796-c3561500-25e1-11eb-9683-c033618466fb.png), so this seems to be a reasonable optimiyation. Instances shall be keyed by `subsampling` since y values in `ScanEdge`-s are rounded to subpixel scanlines.

Related: #103

[2020-11-20 12:16] antonfirsov commented on #18
There are two factors explaining this:
1. The thinner the lines, the more points will the final tessellated polygon contain (after extending the multiline with the polygon thickness). In my experiment I've seen ~200x more points in the tessellation with the provided repro code with thickness 1px vs 10px
2. The performance of the scanning code on current master is very bad, and degrades with the nu

[2020-11-20 14:01] antonfirsov commented on #18
Actually, `(numberOfLines=1000, lineWidth=10)` is a degenerate case, where the `500x500x` canvas will be filled with mess so I it's not a useful baseline. In normal cases the multiplier between 1px and 10px is much smaller.

I consider this issue fixed by #96.

[2020-11-20 15:44] antonfirsov opened #105 "Remove Region and implement "ProcessInsideShape" within ImageSharp.Drawing"
We want to enable clipping interest region of arbitrary processors by an arbitrary polygon. If we agree that solving this problem with `Region` is not feasible, we need to remove that type for 1.0, and add the [`ProcessInsideShape` utility](https://github.com/SixLabors/Samples/blob/32557bf359066c07358572e7147e638608522503/ImageSharp/CustomImageProcessor/Program.cs#L43-L46) to the core library.

Fo

[2020-11-20 18:12] #5 closed

[2020-11-20 18:12] #18 closed

[2020-11-20 18:12] #61 closed

[2020-11-20 18:12] #90 closed

[2020-11-20 18:40] antonfirsov commented on #38
Maybe we want to make this configurable?

[code]

[2020-11-20 19:18] antonfirsov opened #106 "Accuracy issues when drawing large and complex polygons"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2020-11-20 20:30] JimBobSquarePants commented on #38
You know it never even occurred to me that the issue was premultiplication (_or the lack of_) back then.

[2020-11-20 20:43] antonfirsov commented on #38
There is a non-trivial design question around using a different pixel format for `BrushApplicator<T>`.
`BrushApplicator<RgbaVector>` might be too slow (in long term we need integer arithmetics for blending). We can use `BrushApplicator<Rgba32>`, but what if the input is `Rgba64`? Etc..

We should check what what does Skia and System.Drawing do when drawing with `Color(255,255,255, 128)` on an `Rgb

[2020-11-20 20:46] JimBobSquarePants commented on #38
I checked a while back. They work the same way matching the behavior expected by @atruskie .

[2020-11-20 20:55] antonfirsov commented on #38
If so, can't we just manually apply premultiplication in brush implementations?

For `SolidBrush` we can convert to `Vector4` instead of `TPixel` and multiply by `W` after the conversion.

In `ImageBrush` we can simply use `PixelConversionModifiers.Premultiply` when converting the overlay pixels to `Vector4`.

[2020-11-20 21:08] JimBobSquarePants commented on #38
I'd have to revisit the code. It's been a while!

[2020-11-23 15:09] antonfirsov commented on #5
New issue to track in same topic: #106

[2020-11-26 14:42] atruskie opened #107 "Single-pixel wide rectangle borders draw with inaccurate corner colours"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2020-11-26 20:53] antonfirsov commented on #107
@atruskie you should pass `(Shape)GraphicsOptions` to the drawing call, otherwise anti-aliasing will kick in:
[code]

Or:
[code]

The output seems to be correct when anti-aliasing is actually disabled:
![image](https://user-images.githubusercontent.com/6835152/100390491-d8469580-3030-11eb-8dba-0b2e1da245bf.png)

[2020-11-26 21:27] atruskie commented on #107
Oh god - I'm so sorry. Clearly, I was more tired than I thought.

[2020-11-26 21:27] #107 closed

[2020-11-26 21:40] antonfirsov commented on #107
@atruskie no worries, happy to help!

[2020-11-30 08:06] atruskie opened #108 "IndexOutOfRangeException when drawing line near top when Stroke > 1.5f"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2020-11-30 14:11] antonfirsov commented on #108
We are likely dealing with some fallout from #96. (Not unexpected considering the volume of the change.) Need to look into this.

[2020-11-30 23:56] atruskie commented on #108
I just realized the `Antialiasing = false` part of this issue is misleading. The bug occurs either with ( `Antialiasing = true`) or without (` `Antialiasing = false`) antialiasing.

[2020-12-07 11:18] antonfirsov opened #114 "Forward (to be introduced) text line height/leading parameter to Fonts"
To control the parameter we are about to add in SixLabors/Fonts#152, we need to add it to `TextGraphicsOptions` and forward it within `DrawTextProcessor<T>`.

[2020-12-09 09:37] StandOutstar opened #115 "Simplified Chinese text wrapping does not take effect"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2020-12-14 16:48] #114 closed

[2020-12-15 12:30] JimBobSquarePants commented on #115
Confirmed using the following code with ImageSharp.Drawing 1.0.0-beta11.2 on Windows.

[code]
NSimSun
![nsimsun](https://user-images.githubusercontent.com/385879/102215064-1832c700-3ed1-11eb-8635-c63ed24bf7d7.png)

SimSun
![simsun](https://user-images.githubusercontent.com/385879/102215069-18cb5d80-3ed1-11eb-967e-748bc24f92ea.png)

[2020-12-15 19:20] tocsoft commented on #115
This is due to the face we only have rules for whitespace based wrapping and Chinese generally doesn't use whitespace for wrapping it has some other system.

We would need/want to look at implementing the real full [unicode line breaking  algorithm](https://unicode.org/reports/tr14/). to support this correctly.

[2020-12-15 19:50] JimBobSquarePants commented on #115
Just found an implementation with MIT license we could potentially use to help us implement. https://github.com/foliojs/linebreak

[2020-12-17 17:29] JackSteel97 commented on #9
Any progress on this? Or is there a workaround for drawing rectangles with rounded corners someone can point me to?

[2020-12-18 11:07] chris-steema opened #117 "PathGradientBrush fails to render a complex polygon"
SixLabors.ImageSharp v1.0.2
SixLabors.ImageSharp.Drawing v1.0.0-beta11
Running in Visual Studio 2019 v.16.8.3 on Windows 10 v.2004 in .NET 5.0.1-servicing.20575.16

Using the SixLabors.ImageSharp.Drawing.Processing.FillPathExtensions's Fill method, I can render a complex polygon using a SolidBrush, but using a PathGradientBrush the program doesn't finish executing and 'hangs' with high memory usag

[2020-12-18 11:38] antonfirsov commented on #9
@JackSteel97 you can use this code to produce a rounded rectanle path:

https://github.com/SixLabors/Samples/blob/38faba5caf866c0168ea67a5e7c37c06d3043775/ImageSharp/AvatarWithRoundedCorner/Program.cs#L72-L91

Then use one of the overloads in `DrawPathExtensions` to draw it:
https://github.com/SixLabors/Samples/blob/38faba5caf866c0168ea67a5e7c37c06d3043775/ImageSharp/AvatarWithRoundedCorner/Progra

[2020-12-18 12:53] JackSteel97 commented on #9
@antonfirsov This provides no options for positioning the new rectangle (also for me it only draws the top two corners) and no option to fill the rectangle either??

[2020-12-18 14:04] antonfirsov commented on #9
#### Positioning the new rectangle

You can transform `IPathCollection` with [`IPathCollection.Transform`](https://docs.sixlabors.com/api/ImageSharp.Drawing/SixLabors.ImageSharp.Drawing.IPathCollection.html#SixLabors_ImageSharp_Drawing_IPathCollection_Transform_System_Numerics_Matrix3x2_). Use it in tandem with [`Matrix3x.CreateTranslation`](https://docs.microsoft.com/en-us/dotnet/api/system.numer

[2020-12-21 11:16] EngRajabi commented on #81
update

[2020-12-21 11:36] JimBobSquarePants commented on #81
Please don't leave comments like this. We are under no obligation to update this for you and will do so in our own time. If you wish to expediate the process please submit a Pull Request with an appropriate fix.

[2020-12-21 16:33] EngRajabi commented on #81
First of all, thank you for developing this framework, but you, as a professional, should be able to use it for everyone when designing such a package.  At present, 1.8 billion people use rtl languages.

https://www.worldatlas.com/amp/articles/which-languages-are-written-from-right-to-left.html

[2020-12-21 18:00] JimBobSquarePants commented on #81
It’s an open source project released under a license with no guarantees. We’re under no obligation to write it for anybody.

Writing software takes time. As yet none of these 1.8 billion people have offered up their time to help develop the feature.

[2020-12-21 21:40] huysentruitw commented on #81
@EngRajabi,

Professionals like to get payed. If you really want this feature but don't want to create a PR yourself, have you considered sponsoring?

[2020-12-21 22:37] hishamco commented on #81
@JimBobSquarePants I may have look to this one because it's my pleasure to support RTL text in image

[2020-12-22 10:37] VahidN commented on #81
lib-gdi-plus [uses Pango](https://github.com/mono/libgdiplus/search?q=Pango&type=code) library to resolve this issue:
https://pango.gnome.org/

[2020-12-22 11:56] JimBobSquarePants commented on #81
Thanks @VahidN but one of the targets of this library is to build everything in managed C#

[2020-12-22 16:58] JimBobSquarePants commented on #108
@antonfirsov I can get all the tests to pass adding `&& i0 < this.edges.Length` to the while loop, however I have no idea whether this is a valid fix.

[code]

[2020-12-29 20:11] Robertofon commented on #108
Just to mention. Also happens to me. I have AntiAlias= true
and this happens if I draw an ellipsis with one part outside of the image (eg. R=3 and X,Y =0,3)
or drawing lines (0,0)-(0,30) with line thickness = 2 for example.

[2020-12-29 21:41] JimBobSquarePants commented on #108
@Robertofon See https://github.com/SixLabors/ImageSharp.Drawing/issues/108#issuecomment-736126188

[2021-01-02 21:44] JimBobSquarePants commented on #92
Closing this since beta-11 is out.

[2021-01-02 21:44] #92 closed

[2021-01-02 22:47] JimBobSquarePants commented on #38
I've been having another look at this.

The problem we are seeing is due to the conversion of `Color` to `TPixel` in ImageSharp.

Internally this is performed by converting the `Rgba64` data representing the color into our `TPixel` type via `IPixel.FromRgba64`. This simply drops the alpha component. (_which matches the `TPixel` default behaviors_).

So we have a couple of options...

We can either

[2021-01-02 23:04] #115 closed

[2021-01-02 23:10] JimBobSquarePants commented on #38
It occurs to me that new `Color(128,255,255,255)` would yield the expected result.

[2021-01-02 23:17] tocsoft commented on #38
I doubt option 1 will cause much issue, (I doubt there are going to be too many people using `Color` intentionally using the fact alpha gets discarded)

I would argue the current behaviour is a bug and never intentional, so I feel just fixing it to perform pre-multiply across the board is the correct thing to do.. if we are particularly worried about people taking a dependency on a broken behaviou

[2021-01-02 23:22] atruskie commented on #38
Forgive me if I'm wrong, but that'd only apply in the specific case where the background is black. What about every other case? E.g. background is green?

[2021-01-02 23:22] JimBobSquarePants commented on #38
@tocsoft I very much agree.

[2021-01-02 23:28] JimBobSquarePants commented on #38
@atruskie You're not wrong. 😄

[2021-01-02 23:35] tocsoft commented on #38
example

We have an image with a red square on it and we draw Square `Green.Alpah(0.5)` shape half overlapping the first red shape with premultiplyng the color to a pixel prior to blending we would end up with:

![image](https://user-images.githubusercontent.com/166440/103468602-cb654200-4d52-11eb-82f4-7f28ae5be204.png)

but the output I would actually expect would be this:

![image](https://user-

[2021-01-02 23:49] atruskie commented on #38
@tocsoft , that's a great example. I'm on mobile so I can't confirm, but is the non-overlapping part of the green rectangle blended with the black background? I think it should be?

I think, conceptually this comes down to: for each pixel how does colour A add to colour B. Transparency is a valid component of a colour, so in my mind it's irrelevant what the target pixel is, because whatever target

[2021-01-03 00:19] JimBobSquarePants commented on #38
I don't actually think blending is the issue here, rather the expected result of a `Color => Rgb24` conversion.

In the original code example above we're using a solid color brush to draw over a black background (so no blending) but the result is unexpected since there was an explicit alpha value declaration.

That's impossible since we've already lost the alpha component information on conversion

[2021-01-03 00:38] atruskie commented on #38
@JimBobSquarePants that's a fair enough point. It depends on whether you

a) are drawing by first converting everything to target image pixel format
b) or drawing in some higher level abstraction and then converting to target pixel format

Currently a is happening, and the transparency is being dropped before the operation occurs. This seems to be valid for drawing only in (a) mode.

However, it d

[2021-01-03 00:54] JimBobSquarePants commented on #38
@atruskie I can't really comment on how other libraries do things since I haven't investigated them deeply but our blend operations clearly work regardless of the `TPixel` format when we give them the instructions our API expects.

I.E.

Take a color and fill the region of interest with that color at a blend (_not percent, remind me to change that_) of `.5F`.

When we do the operations we're worki

[2021-01-03 01:26] atruskie commented on #38
Ah that makes it much clearer for me. Sorry for the confusion.
I need to think about this a bit more.

[2021-01-07 09:13] OleksandrKrutykh commented on #108
Just for your information, the issue can be reproduced even if the thickness of the line is 1. I got an `ImageProcessingException` when running this piece of code on Windows 10 v1903:

[code]

The minimal Visual Studio solution to reproduce the issue: [DrawLinesIssue.zip](https://github.com/SixLabors/ImageSharp.Drawing/files/5780602/DrawLinesIssue.zip)

[2021-01-21 11:19] antonfirsov commented on #108
This method was developed in rush, after realizing that I need to handle the cases where lines are outside the drawing bounds ... looks like testing was insufficient.

I need more time to debug into that crazy code and understand *exactly* why is the overflow happening. We should not block on this, so @JimBobSquarePants feel free to raise a PR with your fix, since it seems to make things better. J

[2021-01-21 23:13] JimBobSquarePants commented on #108
@antonfirsov Looks like my fix is bad. It's offsetting the values not actually processing the virtual edges.

What I'm seeing during debugging given a stroke width of 3.

[code]

[2021-01-22 00:49] JimBobSquarePants commented on #108
Looks like I have a fix. Will do some final testing

[2021-01-23 19:27] #108 closed

[2021-02-22 15:39] JimBobSquarePants commented on #97
@UkooLabs did you ever get the chance to confirm this? We don't have the context (image dimensions) to confirm this from our end. Thanks!

[2021-02-22 15:50] JimBobSquarePants commented on #86
This does still appear to be an issue.

[2021-02-22 15:53] JimBobSquarePants commented on #91
This appears to be related to https://github.com/SixLabors/Fonts/issues/161

[2021-03-11 11:21] emanuel-virca opened #123 "Double dots misaligned in text"
### Description
When drawing text containing colon (:) the colon is not displayed correctly
![image](https://user-images.githubusercontent.com/8167844/110778808-7faba900-826b-11eb-891f-5c33f6440fea.png)

### Steps to Reproduce

[code]

### System Configuration

- ImageSharp.Drawing version: 1.0.0-beta11
- Other ImageSharp packages and versions: ImageSharp 1.0.3
- Environment (Operating system, ver

[2021-03-11 15:34] antonfirsov commented on #123
@emanuel-virca using the following app I was unable to reproduce this on my machine:
https://gist.github.com/antonfirsov/077b7c364b422c1665dbe4b7cb2933fb
The app uses `C:\Windows\Fonts\arial.ttf`

- Can you try if it works on your machine?
- Can you provide a similar self-contained repro, including a sample font that doesn't work?

[2021-03-11 15:48] JimBobSquarePants commented on #123
There's a good chance that @tocsoft fixed this back in January https://github.com/SixLabors/Fonts/pull/159

@emanuel-virca  I'd suggest updating to our latest MyGet build and giving it another go. https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.Fonts/1.0.0-beta13.5.4

[2021-03-12 10:19] emanuel-virca commented on #123
Many thanks for the quick answers.

After digging more into the issue I found out it actually happens just for Roboto Font. Many apologies for the misleading information provided initially.

I have created a repo for this: [Image Caption Repo](https://github.com/emanuel-virca/image-caption)

@JimBobSquarePants the SixLabors.Fonts (1.0.0-beta0013) is part of the  SixLabors.ImageSharp.Drawing and th

[2021-03-13 02:06] JimBobSquarePants commented on #123
That's a shame, I was hoping the issue was related and we'd already covered it. The issue will be in the fonts library though as that tell this library glyph positions.

Thanks for creating the repository, that's very useful!

[2021-03-15 17:09] JimBobSquarePants commented on #123
@emanuel-virca I pilled down your sample and noticed that you are not referencing the Fonts package I specified.

I added a reference (_also updating Drawing to the latest - unrelated_)

[code]

And as I hoped the issue had been fixed.

**Before**
![image](https://user-images.githubusercontent.com/385879/111191791-531bc800-85b0-11eb-8a1d-978feef99f58.png)

**After**
![image](https://user-images.gi

[2021-03-15 17:09] #123 closed

[2021-03-18 20:58] JimBobSquarePants commented on #91
Fixed with SixLabors/Fonts#161

[2021-03-18 20:58] #91 closed

[2021-03-24 11:23] antonfirsov opened #125 "Allow passing Matrix3x2 to DrawTextProcessor"
Follow-up on the discussion #124.

We should enable using an arbitrary `Matrix3x2` transform as a parameter within [`DrawTextProcessor`](https://github.com/SixLabors/ImageSharp.Drawing/blob/799d6afce0749f3316f6e766ac8884cccc9ef46b/src/ImageSharp.Drawing/Processing/Processors/Text/DrawTextProcessor.cs).

The easiest implementation seems to be to pass it to `PathBuilder` here:
https://github.com/Six

[2021-03-24 21:20] KinsonDigital commented on #21
I myself have done a very simple example and rendered some text using a font loaded with **SixLabors.Fonts** and rendered the text to an all-white 200 x 200 png image.  The quality was not great.

Maybe there are settings that can be used to increase the render quality during image.Mutate()?

![image](https://user-images.githubusercontent.com/4921022/112384734-26109900-8cc5-11eb-8cf7-403c41192ec0.

[2021-03-25 00:40] JimBobSquarePants commented on #21
@KinsonDigital Can you please provide some more information.

I.E what library versions you are using (Drawing, Fonts) and what font is being used.

A code sample would be very useful otherwise.

[2021-03-25 01:26] KinsonDigital commented on #21
Not a problem.  Attached is a zipped-up sample project.  If you have any questions, don't hesitate to ask.

Thanks!!
[FontPlayground.zip](https://github.com/SixLabors/ImageSharp.Drawing/files/6201397/FontPlayground.zip)

[2021-03-25 09:52] KinsonDigital commented on #21
A little more context on what I am trying to do.

I am developing a game engine/framework and I am working on rendering text to the screen.  What I am planning on doing is to use this to generate a [Texture Atlas](https://en.wikipedia.org/wiki/Texture_atlas) that contains each letter, number, and symbol.

With this texture atlas, I will render these individual symbols/glyphs to the screen using Op

[2021-03-25 10:07] KinsonDigital commented on #21
Once of the things I am running into is how to calculate the space between each character for laying them out horizontally.

If I use the `FontRectangle.Width`, I get the results below:
![image](https://user-images.githubusercontent.com/4921022/112455374-082c4e00-8d30-11eb-9b94-e9ec49e41a1e.png)

How would I go about knowing how to place the letters?
I would imagine that I need glyph metrics like

[2021-03-25 10:28] KinsonDigital commented on #21
After some more research, I have found that the `GlyphInstance` might have what I need.  I noticed it has an `AdvanceWidth` property which I am suspecting that is what I need.

One thing that I am unclear about though is the `codePoint` parameter in the `Font.GetGlyph()` method.

What is a code point and what would I choose?  Is `codePoint` the font size in points?

Thanks!!

[2021-03-25 16:13] tocsoft commented on #21
You can use a custom `IGlyphRenderer` to access fine details about the layed out text. All you have to do is, during the during the `BeginGlyph()` api call return `false` to indicate that you don't need the rest of the glyph data (as you will instead use the target rect and your lookup in your atlas data for your specific glyph).

Basically don't worry about trying to layout the text yourself, let

[2021-03-25 16:19] tocsoft commented on #21
Our internal rendering code actually uses an atlas of sorts for our own rendering maybe that could help inspire you on an approach without having to reinvent text layout.

https://github.com/SixLabors/ImageSharp.Drawing/blob/c29e5de8bb1ed0afd11d71cb75ede5fd4bee0644/src/ImageSharp.Drawing/Processing/Processors/Text/DrawTextProcessor%7BTPixel%7D.cs#L180

[2021-03-25 23:02] JimBobSquarePants commented on #21
@KinsonDigital I had a look at your sample and compared the output of the latest MyGet versions with the version on NuGet and also Paint.NET

- Top Paint.NET
- Middle ImageSharp.Drawing 1.0.0-beta11, Fonts 1.0.0-beta0013
- Bottom ImageSharp.Drawing 1.0.0-beta11.4, Fonts 1.0.0-beta13.5.6

I think we've lost something on the very bottom of the 'p' but are rendering much sharper for all other charact

[2021-03-25 23:16] KinsonDigital commented on #21
Thanks guys!!  Awesome!!  I will play around with this info you gave me and see what I can come up with.  🙂

[2021-03-26 12:39] KinsonDigital commented on #21
@tocsoft I have been looking at this code in the link above but I will not lie, I am struggling with what some of the methods are for and what they do as well as how I would even use my implementation once I have it built.

Could you possibly give me some guidance?

[2021-03-26 13:45] JimBobSquarePants commented on #21
Hey @KinsonDigital can you do me a favour and please take any questions over to the [Discussions channel](https://github.com/SixLabors/ImageSharp.Drawing/discussions/categories/q-a)?

I want to close this issue as I don't think our font rendering suffers from the same issues any more.

![RenderResult](https://user-images.githubusercontent.com/385879/112640710-7a3c8a00-8e39-11eb-9aef-f406835c5198.p

[2021-03-26 13:56] KinsonDigital commented on #21
Absolutely.  Thanks for the help!!

[2021-03-26 13:57] KinsonDigital commented on #21
Actually, I do have similar discussions going on in the discussion channel for the **SixLabors.Fonts** repo.

What would be a better place?

[2021-03-26 14:04] JimBobSquarePants commented on #21
Yeah just carry on there. 👍

[2021-03-26 14:04] #21 closed

[2021-04-10 16:56] tannergooding commented on #117
It's not that this doesn't complete, its that it is very slow. `iPoints` contains `7200` entries, if you cut this down to `72` points instead, it completes in under 30 seconds.

I'm pulling a trace to see if there is any obvious hot spots here

[2021-04-10 17:12] tannergooding commented on #117
For reference, here it is rendered with all 7200 points:
![image](https://user-images.githubusercontent.com/10487869/114278561-48a0f280-99e5-11eb-918a-deaaff378034.png)

[2021-04-10 17:17] JimBobSquarePants commented on #117
Thanks for having a look into this @tannergooding really appreciate it! I’d like to review our internal API for brushes to see if we can optimise them. As I recall everything is calculated per pixel (maybe unavoidable).

[2021-04-10 17:47] tannergooding commented on #117
A trace shows the following:
![image](https://user-images.githubusercontent.com/10487869/114279453-9a4b7c00-99e9-11eb-96f5-280a43f136a8.png)

Essentially most of the time (almost 50%) is spent in the call to `allocator.Allocate<PointF>` here: https://github.com/SixLabors/ImageSharp.Drawing/blob/master/src/ImageSharp.Drawing/Processing/PathGradientBrush.cs#L166

The allocation graph for live object

[2021-04-10 17:53] tannergooding commented on #117
In this scenario, almost all allocations are for 2 points (so 16 bytes).

`ArrayPoolMemoryAllocator` itself looks to be doing some basic math, pulling an entry from the array pool, and then allocating a `Buffer<T>` to hold the data, with the buffer being freed after `FindIntersection` completes by the `using`.

This is being done for every edge (all 7200 of them) for every pixel (all 480,000) of t

[2021-04-10 18:13] tannergooding commented on #117
This is the kind of scenario that would be greatly improved by an `alloca` like API, one that is able to either `stackalloc` or return an array, depending on the number of bytes required.
I imagine it would also be improved by pooling `Buffer<T>` instances, so the short lived allocations don't pile up so high (it's currently `7200` `Buffer<T>` allocations per pixel).

Manually doing an `alloca` li

[2021-04-10 19:09] tannergooding commented on #117
Doing something like pre-building an `IList<IMemoryOwner<PointF>>` (one per edge) in `PathGradientBrush.Apply` provides similar benefits, it cuts the time down to about ~21 seconds (under attached profiler) for this specific scenario.

There are likely pro's and cons to both approaches here. The root cause is the number of allocations being done and each fix "resolves" that by reducing the number

[2021-04-10 19:54] antonfirsov commented on #117
I'm not familiar with this code, and chiming in for just a second, but probably the buffer (`Span<PointF>`) should be reused across all `FindIntersection` calls. Maybe could be pre-allocated (or pre-stack-allocated), after taking the maximum of all `edge.path.MaxIntersections` to get the maximum size.

[2021-04-11 13:24] JimBobSquarePants commented on #117
I’ll have a look at all this ASAP. Can’t focus just now though as have oral shingles. Happy to follow whatever lead you both come up with.

[2021-04-12 01:15] tannergooding commented on #117
Right, that's roughly what I referred to by pre-building an `IList<IMemoryOwner<PointF>>`, but just with a single reused `IMemoryOwner` rather than a reused set of them.

I think the principle of the change is that `BrushApplicator` could have some virtual method that allows derived types to provide a shared `IMemoryOwner` instance for use within `Apply`. This allows you to allocate once for the e

[2021-04-12 11:34] antonfirsov commented on #117
`BrushApplicator` is a contextual object itself, created/disposed on a per-operation basis. The specific instances can store their temporary buffers (of whatever type) as members.

It seems to me that a `PointF` buffer of size `this.edges.Max(e => e.path.MaxIntersections)` can be allocated right in the `PathGradientBrushApplicator` constructor to be reused, by passing it's `Span<PointF>` dow to th

[2021-04-12 15:11] tannergooding commented on #117
That seems reasonable and avoids the need for `BrushApplicator` to be concerned with any of this.

It does mean that the allocation potentially persists for much longer than needed, however, and is dependent on `Dispose` being called for it to be freed

[2021-04-12 15:33] antonfirsov commented on #117
The pixel-agnostic `IBrush`-es are a persistent objects, serving as factories for the pixel-specific `BrushApplicator<T>`s, which have a lifetime scoped to the image processing operation under execution (eg. filling image with a brush). The applicator is [disposed and abandoned afterwards](https://github.com/SixLabors/ImageSharp.Drawing/blob/799d6afce0749f3316f6e766ac8884cccc9ef46b/src/ImageSharp.

[2021-04-12 17:16] #125 closed

[2021-04-13 00:13] JimBobSquarePants commented on #4
I've added the "help wanted" label to this issue as it is a feature I do believe we require but will need assistance in delivering.

[2021-04-18 01:10] JimBobSquarePants commented on #117
A chink in the plan. `BrushApplicator.Apply()` is called in parallel. We'd have to override this virtual method and do the allocation there. This starts to get messy though as we can't pass any parameters `T[x, y]` which is where the current allocation takes place.

I think we should have a deeper look at our underlying API here.

[2021-04-19 13:37] antonfirsov commented on #117
I think we should either remove the parallelism, or somehow find a solution that eliminates synchronization concerns by design, by creating an isolated context per-thread. (For example we can probably create a separate `BrushApplicator` in each thread.)

The hard thing is that this would require extending the `ParallelRowIterator` stuff.

[2021-04-19 16:06] antonfirsov commented on #117
+ 1 for overriding `Apply`, since it would definitely optimize things (for example not calling the virtual `this[x,y]` per-pixel.
But I think currently there is no way to pass the buffer (or any other context) to `Apply`, which is per-row.

I would consider (upon overriding Apply) trying `ThreadLocal<IMemoryOwner<PointF>>` as an applicator member (https://github.com/SixLabors/ImageSharp/issues/161

[2021-04-19 16:18] tannergooding commented on #117
In one of my prototypes, I had just extended `this[x, y]` to take an additional parameter for any additional data a given applicator wants to pass down.

It was basically:
[code]

`Apply` then just did `
[code]

Applicators that didn't do need it could just return `null`. Applicators that did need it could allocate whatever data they need (in this case `IMemoryOwner<PointF>`) and that would be pas

[2021-04-19 17:01] JimBobSquarePants commented on #117
Interesting. Thanks!

I'm going to do some experimentation here to see if I can clean up the API a little based upon this conversation.

[2021-04-19 18:26] JimBobSquarePants commented on #117
There's a bit of me that wonders whether we should add the following method to `BrushApplicator<T>`

[code]

That would allow us to reduce allocations from per-scanline to per interval in the fill processor.  Might be overkill though. I'll focus on optimizing the per-scanline operation first.

[2021-04-26 08:18] chanuko opened #131 "DrawText() does not work with strings containing Japanese spaces."
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2021-04-26 11:59] JimBobSquarePants commented on #131
Hi @chanuko

Since you are building from source would you be able to confirm for me whether the version of Fonts in this PR https://github.com/SixLabors/Fonts/pull/160 fixes the issues? I've been working on a much more robust detection system based upon the Unicode standard.

Thanks!

[2021-04-27 02:29] chanuko commented on #131
Hi @JimBobSquarePants

I checked the operation with the branch of PR you presented, and confirmed that this problem has been solved.
However, I would like to install and use it via nuget, so I am hoping it will be released :)

Thanks!

[2021-04-28 06:53] chanuko commented on #131
取り組んで頂きありがとうございます。
そのPRが1.0.0-rc.1としてマイルストーンが設定されていることを見ました。
1.0.0-rc.1がNugetでリリースされる時期の目処は立っているのでしょうか？

[2021-04-28 06:53] chanuko commented on #131
Thank you for working on this.
I saw that the PR has a milestone set as 1.0.0-rc.1.
Do you have any idea when 1.0.0-rc.1 will be released on Nuget?

[2021-04-28 10:21] JimBobSquarePants commented on #131
I can get that PR merged now and a release put on our MyGet feed for consumption however we were hoping to avoid a NuGet release until we could complete a few more [required features](https://github.com/SixLabors/Fonts/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+needed%22) that would allow an RC release. Unfortunately there are currently no external contributors to the library so progress is ver

[2021-04-29 21:14] #103 closed

[2021-04-29 21:14] #117 closed

[2021-04-30 07:49] chanuko commented on #131
I see.... Thanks for the information:)

[2021-05-12 13:17] josellm opened #134 "DrawText over a BMP 128x64 displays deformed text"
### Description
I need to send a text to a 128x64 LCD display. I need to generate a bmp and draw some text over. I first use System.Drawing but due to problems with windows nano container I migrate the code to SixLabors.ImageSharp.

The resulting text with SixLabors.ImageSharp don't display smoothly like System.Drawing

Removing HorizontalAlignment and VerticalAlignment helps but it still doesn't

[2021-05-12 13:39] JimBobSquarePants commented on #134
Do you have your description correct? The left image is much smoother than the right to me?

[2021-05-12 13:40] josellm commented on #134
Yes sorry, I updated the description

[2021-05-12 13:42] JimBobSquarePants commented on #134
Thanks, I’ll have a look!

[2021-05-12 17:35] tocsoft commented on #134
This will likely be due to the fact we don't have support for [font hinting](https://en.wikipedia.org/wiki/Font_hinting)... which when implemented will potentially require an (at least partially) reimplementation of our current text rasterizer. We currently try and render each glyph as few a times as possible and the hinting might cause us to offset oddly when trying to reuse an earlier raster at

[2021-05-12 18:24] JimBobSquarePants commented on #134
I just did a quick test and antialiasing seems to correct any issues. @tocsoft would that be expected for a lack of font hinting?

`Antialias = false`
![134 - Copy](https://user-images.githubusercontent.com/385879/118024921-23daca80-b357-11eb-8cd8-ba2cc950656a.png)

`Antialias = true`
![134](https://user-images.githubusercontent.com/385879/118024927-24736100-b357-11eb-98b9-be6fb71def62.png)

It lo

[2021-05-12 19:20] tocsoft commented on #134
yeah, anti-aliasing hides a lot of sins.

[2021-05-13 10:29] josellm commented on #134
Hi,

I take photos to the final result, first using System.Drawing, second using SixLabors without aliasing and third with aliasing. Aliasing with LCD display is not a good choice.

![IMG_20210513_115435](https://user-images.githubusercontent.com/636052/118112372-369be080-b3e5-11eb-860d-b209c60a4f16.jpg)
![IMG_20210513_120427](https://user-images.githubusercontent.com/636052/118112389-3996d100-b3e

[2021-05-13 11:31] JimBobSquarePants commented on #134
Thanks, yep. I was just confirming the expected behavior. We wouldn't suggest antialiasing as a workaround for LCD.

The only current workaround I would suggest would be to use a different font. We have an issue https://github.com/SixLabors/Fonts/issues/30 that tracks hinting but will need assistance implementing it.

[2021-05-20 22:18] JimBobSquarePants commented on #131
I've released a new beta on NuGet containing your fix.

https://www.nuget.org/packages/SixLabors.ImageSharp.Drawing/1.0.0-beta12

[2021-05-20 22:18] #131 closed

[2021-05-20 22:21] JimBobSquarePants commented on #83
Fixed via #126

[2021-05-20 22:21] #83 closed

[2021-05-25 13:56] starkna opened #137 "Beta12 nuget package lib for netcoreapp3.1 target has incorrect version of SixLabors.ImageSharp.Drawing.dll"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp.Drawing
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2021-05-25 14:01] JimBobSquarePants commented on #137
@starkna thanks for raising this!

I've confirmed there's definitely an issue and it's only affecting the Core3.1 build. I'll have a look at our build process and if I can identify a fix will release a new beta today.

![image](https://user-images.githubusercontent.com/385879/119511058-f8e67280-bd69-11eb-9ad2-a1ff5685986e.png)

[2021-05-25 14:15] starkna commented on #137
@JimBobSquarePants Thanks for the quick reply - appreciate it!

[2021-05-25 15:49] JimBobSquarePants commented on #137
It's definitely an odd one and doesn't seem to affect any of our other repos with identical setup. I'm experimenting with a simplified build process to see if I can narrow a cause down.

[2021-05-25 16:03] JimBobSquarePants commented on #137
Nope. I'm stumped. There's no justification for this I can find.

https://github.com/SixLabors/ImageSharp.Drawing/runs/2667132314?check_suite_focus=true#step:5:15

[2021-05-25 16:16] JimBobSquarePants commented on #137
I've asked in the MinVer repo
https://github.com/adamralph/minver/discussions/518

[2021-05-27 20:22] JimBobSquarePants commented on #137
Switching to Ubuntu works for now. I've released a new beta 13 and de-listed beta 12.

https://www.nuget.org/packages/SixLabors.ImageSharp.Drawing/1.0.0-beta13

[2021-05-27 20:22] #137 closed

[2021-06-11 20:35] derBobo commented on #4
I started implementing this feature [here](https://github.com/derBobo/ImageSharp.Drawing). Right now I'm struggeling to implement the Transform Method for the EllipticalArcLineSegment maybe Someone here can have a look and help me.

[2021-06-14 14:04] JimBobSquarePants commented on #4
@derBobo That's awesome thanks! If you raise a draft PR against this repository we can all work together to get it completed.

[2021-06-14 20:25] derBobo commented on #4
I'll do that later this week, first I have to finish some stuff for my work. Am 14.06.2021 16:04 schrieb James Jackson-South ***@***.***>:
@derBobo That's awesome thanks! If you raise a draft PR against this repository we can all work together to get it completed.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-18 14:09] antonfirsov commented on #94
I believe it would be better to address this in RC1.

[2021-06-18 14:10] antonfirsov commented on #4
Triaging to RC1 now since we hoping in community help, we can push it out later, if we see that we can't make it.

[2021-06-18 14:15] antonfirsov commented on #16
Triaging to future for now, but I must admit, I don't follow the problem. @tocsoft do you think there is a valuable feature request for the wider public? If not, let's close.

[2021-06-18 14:17] antonfirsov commented on #17
@JimBobSquarePants I remember you mentioning you want to push this out of 1.0. Is this correct, or is it any realistic to achieve for RC1?

Triaging to Future for now.

[2021-06-18 18:02] JimBobSquarePants commented on #17
I think Future is more accurate here.  We lack the community involvement to consider a V1 release.

[2021-06-18 18:03] JimBobSquarePants commented on #94
Agreed

[2021-06-19 21:17] antonfirsov commented on #6
From what I see, `LinearLineSegment` has `.Flatten()` to get the points, and `CubicBezierLineSegment` has public has a public `ControlPoints` property.

Closing this for now, feel free to reopen, if I'm misunderstanding something.

[2021-06-19 21:17] #6 closed

[2021-06-19 21:24] antonfirsov commented on #8
I would consider this out of scope now, I believe we should focus on drawing & fonts feature gaps + performance issues.

@tocsoft moving to future for now, if you agree that this is no longer realistic, let's close.

[2021-06-19 21:28] antonfirsov commented on #10
Makes sense, but low priority, moving to Future. Community PR-s are welcome.

[2021-06-19 21:31] antonfirsov commented on #19
This seems like a very useful feature, but I doubt we can make it into 1.0, moving to Future.

[2021-06-19 21:33] antonfirsov commented on #13
Easy to fix, part of API cleanup, I believe we should do it for 1.0.

[2021-06-19 21:41] antonfirsov commented on #20
We need to make `BrushApplicator` constructor `protected`:
https://github.com/SixLabors/ImageSharp.Drawing/blob/d8960b8e2e55875d2c4f990f5fc439b846af1230/src/ImageSharp.Drawing/Processing/BrushApplicator.cs#L23

We shall consider changing `Apply` to consume `RowInterval` instead of `y`:

https://github.com/SixLabors/ImageSharp.Drawing/blob/d8960b8e2e55875d2c4f990f5fc439b846af1230/src/ImageSharp.Dra

[2021-06-19 21:45] antonfirsov commented on #81
Looks like duplicate of #17, closing to clean up the backlog. Let's reopen if I'm missing something.

[2021-06-19 21:48] JimBobSquarePants commented on #20
Yeah if we can use RowInterval that’d be much preferable

[2021-06-19 21:54] obayomy commented on #13
@antonfirsov
I was working on this issue when I noticed your recent comment and don't know if it is still possible to PR. My change is to move the (ClipperOffset) calls to a wrapper where such cases could be checked and throws the (ClipperException), should I make a PR?

[2021-06-19 21:54] antonfirsov commented on #86
We definitely should not throw an internal exception.

What is the expected behavior here?

[2021-06-19 21:59] antonfirsov commented on #97
Closing for now since it's most likely fixed, and I'm trying to clean up the backlog. @UkooLabs feel free to reopen (with more contextual info) if it's still an issue.

[2021-06-19 21:59] #97 closed

[2021-06-19 21:59] obayomy commented on #13
@antonfirsov
I was working on this issue when I noticed your recent comment and don't know if it is still possible to PR. My change is to move the (ClipperOffset) calls to a wrapper where such cases could be checked and throws the (ClipperException), should I make a PR?

[2021-06-19 22:00] antonfirsov commented on #102
Not realistic for 1.0

[2021-06-19 22:01] antonfirsov commented on #106
I believe this is a low impact edge case. We won't be able to address it for 1.0.

[2021-06-19 22:03] antonfirsov commented on #134
This is a reasonable request, but we won't be able to make it into 1.0 (see https://github.com/SixLabors/ImageSharp.Drawing/issues/134#issuecomment-839965138).

[2021-06-19 22:10] JimBobSquarePants commented on #86
If there’s no glyph in the fallback font then I would say we fall back to the default fallback codepoint. Will need to see if there’s documented behaviour for System.Drawing we can match.

[2021-06-19 22:18] antonfirsov commented on #13
@obayomy yes please! We should translate `ClipperException` to an `InvalidOperationException`.

[2021-07-07 12:40] JimBobSquarePants commented on #38
I'm going to close this as I believe we have established that the result is expected.

https://github.com/SixLabors/ImageSharp.Drawing/issues/38#issuecomment-753550502

[2021-07-07 12:40] #38 closed

[2021-07-07 12:52] JimBobSquarePants commented on #100
@antonfirsov I'm assuming we'd accept a `Span<PointF>` for each parameter?

[2021-07-07 13:33] JimBobSquarePants commented on #20
@antonfirsov Found issues with using `RowInterval`. Looks like we're stuck working one line at a time.

https://github.com/SixLabors/ImageSharp.Drawing/blob/423bf06a6b8bfce3a9991bede8af3e550c6742ca/src/ImageSharp.Drawing/Processing/Processors/Text/DrawTextProcessor%7BTPixel%7D.cs#L155-L160

https://github.com/SixLabors/ImageSharp.Drawing/blob/423bf06a6b8bfce3a9991bede8af3e550c6742ca/src/ImageSharp

[2021-07-08 00:46] antonfirsov commented on #100
Hah, this seems to be an easy question but it isn't.

Currently the [`LinearLineSegment(PointF[])`](https://github.com/SixLabors/ImageSharp.Drawing/blob/c29e5de8bb1ed0afd11d71cb75ede5fd4bee0644/src/ImageSharp.Drawing/Shapes/LinearLineSegment.cs#L46-L53) constructor takes ownership of the array without copying, this makes sense since it would avoids an allocation and a copy for the user, but note t

[2021-07-08 01:08] JimBobSquarePants commented on #100
Old school it is then!

[2021-07-08 01:09] #20 closed

[2021-07-09 04:13] JimBobSquarePants commented on #105
This means removing (not refactoring) any current extensions utilizing `Region` yes?

- `ClearRegionExtensions`
- `FillRegionExtensions`

We'd then keep `ShapeRegion` as an internal type to use in `FillRegionProcessor`

[2021-07-09 12:23] antonfirsov commented on #105
Yes, we should remove them, just let's make sure we have equivalent functionality in other extension classes using `IPath`.

[2021-07-11 06:41] atruskie commented on #38
@JimBobSquarePants, I think the technical aspect of this wandered but I do still think that the behaviour core to the issue is unexpected: When I paint with 50% opacity, I do NOT expect a fully opaque result.

If I'm understanding this correctly, it's due to a _silent_ truncation of an alpha value so that the drawing operation happens in the same pixel format as the resulting image. Really though,

[2021-07-11 12:10] JimBobSquarePants commented on #38
Hi @atruskie  I'll try to explain everything the best I can.

Yes, but that was a mistake on my part and I'm sorry about that. There's a lot of theory to remember across all these APIs and sometimes I will  confuse myself.

What `System.Drawing` and `SkiaSharp` both do is take how **opaque** a given color is and uses that as a measure of how much to **blend** two colors. That's a management of a c

[2021-07-11 13:01] atruskie commented on #38
Wow thanks for explaining in such detail. Thank you. And yeah of course, there is a lot to remember. I clearly can't keep track of it.

I can appreciate the miss-use of the alpha channel by the other libraries.

In terms of muscle memory and simplicity of encoding opacity in the alpha component (which we rely _heavily_ on our app and config files), it is sad that such a useful convention is not as

[2021-07-14 15:15] #13 closed

[2021-07-22 14:59] JimBobSquarePants commented on #86
Latest nightlies seem to have fixed this. It was likely this PR https://github.com/SixLabors/ImageSharp.Drawing/pull/152.
We don't crash, we now simply ignore any missing glyphs and render an empty space.

![í](https://user-images.githubusercontent.com/385879/126657991-1b603cd4-de9e-4ec2-a7cd-9f4555399910.png)

SkiaSharp does what we do and ignores the value.
System.Drawing appears to have a defau

[2021-07-23 13:13] JimBobSquarePants commented on #86
I'm closing this as fixed. Default fallback fonts can be a different discussion.

[2021-07-23 13:13] #86 closed

[2021-07-30 15:06] #105 closed

[2021-08-02 16:38] antonfirsov opened #158 "Expose JointStyle and EndCapStyle on IPen"
Modify `DrawPathProcessor`:
https://github.com/SixLabors/ImageSharp.Drawing/blob/b58a245c75d8b546750fbabd9d289c4c7ac513a4/src/ImageSharp.Drawing/Processing/Processors/Drawing/DrawPathProcessor.cs#L52

And probably `DrawTextProcessor`:
https://github.com/SixLabors/ImageSharp.Drawing/blob/b58a245c75d8b546750fbabd9d289c4c7ac513a4/src/ImageSharp.Drawing/Processing/Processors/Text/DrawTextProcessor%7BT

[2021-08-03 11:57] JimBobSquarePants opened #159 "Improve accuracy of drawing text along a path"
Modify `PathGlyphBuilder`

https://github.com/SixLabors/ImageSharp.Drawing/blob/653cf5f8f6249c8e5432ad992e42a721d8638003/src/ImageSharp.Drawing/Shapes/Text/PathGlyphBuilder.cs#L39-L49

To more accurately transform individual glyph paths.

As demonstrated in the samples project the glyphs are not evenly aligned along the path.

https://github.com/SixLabors/ImageSharp.Drawing/blob/653cf5f8f6249c8e54

[2021-08-04 01:21] JimBobSquarePants commented on #159
Relevant SkiaSharp issue which should provide some valuable insight.
https://github.com/mono/SkiaSharp/issues/1183

[2021-08-04 05:31] JimBobSquarePants commented on #159
Additional issue demo.

![Hello World Hello World Hello World Hello World Hello World Hello World Hello World](https://user-images.githubusercontent.com/385879/128127153-6b8e2a0f-28ff-4f87-b282-7e1eedf9b6fc.png)

[2021-08-11 19:40] 0xced opened #160 "Helvetica characters are note rendered properly (rendered as rectangles) on macOS"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode (I have only tested with the NuGet package)
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/Imag

[2021-08-12 00:26] JimBobSquarePants commented on #160
I'm transferring this issue to the Fonts repo since the issue must lie there. Drawing just rasterizes the provided glyphs from the font.

I just confirmed the issue with the latest master.

![Hello-World](https://user-images.githubusercontent.com/385879/129120121-2289c9b9-5c21-4ab8-91b7-913ffc49c9b2.png)

[2021-08-13 13:35] JimBobSquarePants commented on #159
@SixLabors/core I think we should priorities this incase we need to make any changes to `IGlyphRenderer` in the Fonts library.

[2021-08-13 14:24] tocsoft commented on #159
I can't see how it would require changes to the IGlyphRenderer... all glyph renders does is act an abstraction to feed out the code points for the vectors (and color info as required)... the mutation of the points to allow distorting along a path is all done in vector space.

[2021-08-14 06:03] JimBobSquarePants commented on #159
As long at there’s enough info passed through then that’s ok. I’m just confused how what appears to me should be a simple transform can go so wrong.

[2021-09-10 14:39] derBobo commented on #4
The pr #144 is merged now, so this issue can be closed.

[2021-09-10 14:43] JimBobSquarePants commented on #4
Thanks @derBobo !!

[2021-09-10 14:43] #4 closed

[2021-10-05 17:40] SirusDoma commented on #19
Hey, I know that you said that you might not be able to make it into 1.0 but is there any clear estimation on this? I'd really like to see this feature. Oh I'm not really experienced with text rendering, but is there any pointer where one could contribute on this?

Also is it possible to calculate `DrawText` area before hand? that might be useful as well

[2021-10-05 22:48] JimBobSquarePants commented on #19
We'll definitely have comprehensive text wrapping support with multiple word breaking options and text align. What I'm unsure of though is clipping in the vertical direction. @tocsoft That would just be a case of recognizing we've hit a vertical limit and stopping no?

[2021-10-06 09:05] tocsoft commented on #19
you can make use of https://github.com/SixLabors/ImageSharp.Drawing/blob/5bbf20e6cff00d06e9a6c61ea79c31e48ed824df/src/ImageSharp.Drawing/Processing/Extensions/ClipPathExtensions.cs#L22 (I believe this is only in the [nightlies feed](https://github.com/SixLabors/ImageSharp.Drawing#installation)) to apply the drawing operation and ensure its explicitly clipped.

[2021-10-06 11:29] JimBobSquarePants commented on #19
Ah yes, I’d forgotten about that.

[2021-10-07 07:58] antonfirsov commented on #19
@SirusDoma dumb, slow heuristic approach, but might be good enough:
you can use repeated calls of `TextMeasurer.Measure` to get a size that approximately fits your destination area, then maybe using resize to fine-tune it.

[2021-10-18 16:19] ControlDesign opened #170 "X or Y negative-positive-negative causes ArgumentOutOfRangeException in Draw()."
Negative, then positive, then negative X or Y causes DrawPathExtensions.Draw to throw ArgumentOutOfRangeException: Specified argument was out of the range of valid values. (Parameter 'edgeIdx').

To recreate use my 3 points and invoke Draw() as follows:

                        points = new List<PointF>(new PointF[] {
                            new PointF(170.92926f, 0f),

[2021-10-23 12:56] #170 closed, assigned to antonfirsov

[2021-10-24 02:44] ControlDesign commented on #170
Not having any exception hick-ups while panning and zooming, it's *nice*.  Circuit boards look good, all those tiny lines are antialiasing really good.  RC means I could publish some packages and not worry literals changing around?

![gerbtool1](https://user-images.githubusercontent.com/62630751/138578045-c483ea96-8970-49d2-aa1b-069cde76d2a6.png)
.

[2021-10-26 05:01] AirEssY opened #172 "Can't render this text input by a user."
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2021-11-05 22:03] Metritutus opened #173 "ImageSharp is slow to rotate an image"
### Description

When rotating an image in ImageSharp, if the Visual Studio debugger is attached it takes a good 20-30 seconds for the rotate operation to occur.  If the debugger is not attached it takes 2-3 seconds.  Building for Debug or Release build makes little difference (the release build is _slightly_ faster but still takes 20+ seconds).

In addition, even when running without the debugger

[2021-11-06 20:48] antonfirsov opened #174 "Issues with TextOptions and Fonts.RendererOptions"
It's unfortunate that we have two very similar types with duplicate functionalities across our libraries. It's also doesn't align with good API design practices that some properties are settable, while others are get-only and initialized from the constructor.

We should clean up the API for ImageSharp.Drawing. If possible we should declare both types in SixLabors.Fonts and make them compose each o

[2021-11-07 20:50] kutukvpavel opened #175 "Text gets chopped when rotated >60 degrees"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2021-11-15 10:58] dodu2014 opened #176 "In the environment of .net 6.0, add watermark to png image, the image is abnormal"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ ] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2021-11-15 11:13] tocsoft commented on #176
This looks like the .net 6 bug that was patched in version `v1.0.4` of  `SixLabors.ImageSharp` (the main package).

Please can you make sure you are referencing `v1.0.4` of  `SixLabors.ImageSharp`. If you are only referencing `SixLabors.ImageSharp.Drawing` at the moment just add  `SixLabors.ImageSharp` as an additional reference.

[2021-11-16 02:00] dodu2014 commented on #176
Thank you, The problem has been resolved.

[2021-11-16 02:00] #176 closed

[2021-11-18 11:41] JimBobSquarePants commented on #159
Looks like the new Fonts layout engine is a big improvement.

OLD
![image](https://user-images.githubusercontent.com/385879/142408850-32db911d-1e81-463b-9222-649eb45efdc1.png)

NEW
![Hello World Hello World Hello World Hello World Hello World Hello World Hello World](https://user-images.githubusercontent.com/385879/142408710-5cbaa702-486e-41df-b7f4-e29052599636.png)

[2021-11-19 12:16] JimBobSquarePants commented on #159
Remaining oddities (Look at the capital W) appear to be caused by the rotation taking place against the bottom/left corner of each glyph rather than the bottom center. I've hacked at this a few times now but lack the matrix maths knowledge to fix it.

[2021-11-22 02:16] #17 closed

[2021-11-22 02:16] #81 closed

[2021-11-22 02:16] #174 closed

[2021-11-22 02:31] JimBobSquarePants commented on #17
I've just pushed an update into the MyGet feed `1.0.0-beta13.15` which adds Bidi support to text drawing. We'll automatically detect the direction (_we support mixed LTR and RTL automatically_) but you can force a single direction if you want also.

Please bear in mind that there's are still some [language specific font shapers to implement](https://github.com/SixLabors/Fonts/issues?q=is%3Aissue+i

[2021-11-22 02:33] JimBobSquarePants commented on #81
I've just pushed an update into the MyGet feed `1.0.0-beta13.15` which adds Bidi support to text drawing including ligature shaping.

Arabic and Latin-based shaping is complete Please bear in mind that there's are still some [language specific font shapers to implement](https://github.com/SixLabors/Fonts/issues?q=is%3Aissue+is%3Aopen+label%3Ashaping) (_help needed and appreciated there_) so there

[2021-11-22 02:48] JimBobSquarePants commented on #134
Hi @josellm I've just pushed an update into the MyGet feed `1.0.0-beta13.15` which adds a new property to `TextOptions` called `ApplyHinting`. It defaults to false currently as we still need to implement font specific adjustments to the hinting process but the basics should be there.

It would be really awesome if you could give that a spin for us and let us know if there are improvements to the o

[2021-11-22 05:50] JimBobSquarePants commented on #172
Hi @AirEssY and @sherlyTam1  I've just pushed an update into the MyGet feed 1.0.0-beta13.15 which contains the fix for this. You can get the feed details from the readme.

[2021-11-22 05:50] #172 closed

[2021-11-22 05:52] JimBobSquarePants commented on #175
Hi @kutukvpavel sorry for the slow reply here. I wanted to complete a few things first.

I've just pushed an update into the MyGet feed 1.0.0-beta13.15 which will most likely fix any issues you have. Can you please give it a try and let me know?

[2021-11-22 17:54] kutukvpavel commented on #175
Thanks for addressing this issue @JimBobSquarePants !

Unfortunately, no luck with 13.15 either. I installed beta13.15 prerelease from MyGet, ported some API, rebuilt everything clean, and checked the package dll version, so I'm indeed running 13.15. But the images produced are _exactly_ the same.

Btw, this is my app repo, in case you'd like to have a look at the code/test it on your machine: htt

[2021-11-22 18:10] antonfirsov commented on #175
@kutukvpavel can you create a simplified, *self contained* repro, demonstrating the problem by drawing only one tile with constant image, rectangle sizes and offsets?

That would (1) immediately clarify if this is a bug (vs. potential usage issue in your application), (2) save us a lot of time, leading to a faster issue triage and bugfix.

[2021-11-22 18:46] kutukvpavel commented on #175
No problem, @antonfirsov . Here you are: https://github.com/kutukvpavel/ImageSharpDemo .
This is what I get (supposed to be "0,t=0"):
![result](https://user-images.githubusercontent.com/41666738/142917799-8ce13564-c430-40af-97a2-58c9f05e0ad9.png)

[2021-11-23 01:00] JimBobSquarePants commented on #175
@antonfirsov I've just pulled down the code from the sample and the usage appears correct. Can confirm 60 degrees appears to be the cutoff for correct rendering also.

[2021-11-25 12:03] VahidN commented on #81
@JimBobSquarePants
Thank you. Would you please upload it to NuGet as well?

[2021-11-25 12:11] JimBobSquarePants commented on #81
@VahidN Not until the library has reached RC1 quality. I'd like to get some of these shapers implemented first but I need help.

https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aopen+label%3Aarea%3Ashapes

[2021-12-08 05:32] Coloryr opened #183 "FontStyle.Italic no work"
- ImageSharp.Drawing version:1.0.0-beta13
- Other ImageSharp packages and versions: SixLabors.ImageSharp-1.0.4
- Environment (Operating system, version and so on): win11
- .NET Framework version: net6.0
- Additional information:
code:
[code]
![ZVT9}@43JZ2GO %NH)8Z802](https://user-images.githubusercontent.com/26276037/145153825-f298e7d8-6125-435c-ac93-9351e4fe4b56.png)

[2021-12-08 11:33] tocsoft commented on #183
please ensure you have an italic version of the font installed in a place the `SystemFonts` collection can discover it.

If in doubt and to validate if its a bug in the render or its a lack of a font existing its always better to bypass the `SystemFonts` collection and instead create a custom `FontCollection` manually add the ttf fonts yourself (ensuring you add all the variants you require) and v

[2021-12-15 20:18] bearsystems opened #184 "Unable to find SixLabors.ImageSharp.Drawing in Blazor with .NET 6"
Good Afternoon!

     I created a rather complex Blazor Server App using HTML5 and realized that I need to draw everything on the server side!  While technically System.Drawing.Common could solve this issue, its performance is terrible and comes with its own large set of issues.

     I am looking forward to using your library - thank you so much for providing it - but I cannot find the SixLabors.

[2021-12-15 20:56] #184 closed

[2021-12-29 09:36] wischi-chr opened #187 "Many "first calls" are slow"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-01-03 01:12] #183 closed

[2022-01-07 23:34] replaysMike commented on #175
a PR is available that fixes this issue - [PR 191](https://github.com/SixLabors/ImageSharp.Drawing/pull/191)

[2022-01-07 23:52] replaysMike opened #192 "Rotated text gets offset radially"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-01-07 23:53] replaysMike commented on #192
I'm going to attempt to fix this and issue a PR

[2022-01-08 00:51] replaysMike commented on #192
what I've discovered so far is interesting but I'm not really sure if the current implementation is correct or not.  I noticed that when calling builder.BuildMatrix() there is a Translation applied equal to the height of the image, and I don't know why that exists. It could be a bug in the BuildMatrix() or I could simply be using this wrong.

I can compensate for the seemingly incorrect matrix tra

[2022-01-08 07:14] JimBobSquarePants commented on #192
Your transform matrix looks incorrect.

[code]

The bounds you are passing should be the bounds of what ever source object you are attempting to transform. We require those bounds in order to perform rotation around the center of the object (_so we can perform the correct translations_). In your case the bounds should represent the measured bounds of the text you are rendering. It also looks like

[2022-01-08 22:27] replaysMike commented on #192
thanks for that @JimBobSquarePants . I confirmed this works. The second transform (translation) was still required, as specifying co-ordinates in the DrawText operation yield unusual results depending on the angle - for example 90 degrees causes those coordinates to be inverted and X/Y is also reversed. But that likely makes sense if they are being applied before the transforms are.

I think an ex

[2022-01-08 22:27] #192 closed

[2022-01-09 13:56] JimBobSquarePants commented on #192
I don't quite follow what you mean here.

[code]

Means translate _by_ `0,0` not _to_ `0,0` so isn't actually doing anything. The position of the rendered text is determined by the location passed via `TextOptions` where the vector represents the top/left position of the text bounds.

We're still very much figuring out the best API so want to hold out on examples however calculating the correct `M

[2022-01-11 02:39] VShawn opened #193 "Doc issue"
### Description
missing `;`

![image](https://user-images.githubusercontent.com/10143738/148871622-844f9d1d-5697-4db2-b6fe-637949d5bcf6.png)

### Steps to Reproduce
open https://docs.sixlabors.com/articles/imagesharp.drawing/gettingstarted.html

### System Configuration
chrome

[2022-01-11 03:08] JimBobSquarePants commented on #193
Thanks for this.

We actually have a separate repository for documentation. On the top/right of the page you highlighted is a link [`IMPROVE THIS DOC`](https://github.com/SixLabors/docs/blob/master/articles/imagesharp.drawing/gettingstarted.md/#L1) where you can submit a PR with a fix.

![image](https://user-images.githubusercontent.com/385879/148874380-34ab9e79-6d41-4fe6-ab6b-998e11b3c894.png)

[2022-01-11 03:27] VShawn commented on #193
@JimBobSquarePants  I see, I will go there. thx.

[2022-01-11 03:27] #193 closed

[2022-01-13 13:21] #175 closed

[2022-01-18 01:02] antonfirsov opened #195 "Revisit Pen API"
### Constructor bloat

Currently `Pen`s are immutable. As a consequence, all properties are initialized via constructor, which leads to terrible constructor bloat, especially after adding `JointStyle` and `EndCapStyle` to `Pen` in #185.

Default arguments are also off the table because of extensibility issues and non-constant parameters.

My suggestion is to drop immutability of `Pen` together wit

[2022-01-18 04:10] JimBobSquarePants commented on #195
Yeah. Agree here, the constructor bloat is an issue and I don't think we should create some sort of options struct toe workaround.

I think we should also seal the type.

[2022-01-20 18:03] antonfirsov commented on #195
Actually, I haven't considered an options struct, we should explore that too. It could help avoiding the Pen <-> Brush mutability asymmetry, which I don't like much, just proposed as a lesser evil compared to constructor bloat.

[2022-01-20 18:49] jtjackson commented on #195
Doesn't make sense to me to have that many constructors for 'Pen' here. Can we just go with single one like:

[code]

However, the first proposed approach (with no constructors) may be a better approach.

[2022-02-09 00:56] antonfirsov commented on #158
@jtjackson thanks for your help with this!

[2022-02-09 00:56] #158 closed

[2022-02-10 23:22] antonfirsov commented on #195
@tocsoft since you are active these days: any thoughts on this? Any alternative ideas to avoid the constructor bloat?

[2022-02-11 07:14] dlemstra commented on #195
It looks like we are now mixing mutablity and immutability in that class. I think it would be better to make it muttable and remove the `IPen` interface. Not sure if `Pen` is the best name for this? Maybe renaming `Pen` to `PenOptions` and making it muttable would be another option?

[2022-02-11 12:27] antonfirsov commented on #195
I also think now that the `PenOptions` direction would be better since it preserves immutability. +1 for turning `IBrush` into an abstract class for consistency.

[2022-02-24 02:43] parzivail opened #203 "Fonts still antialias when Antialias is set to false"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of Fonts
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/Fonts/issues) and [closed](https://github.com/SixLabors/Fonts/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it has not already

[2022-02-24 02:53] JimBobSquarePants commented on #203
Thanks for this @parzivail. I've migrated the issue to the correct repository.

Just to confirm the version numbers.

- Fonts 1.0.0-beta16
- ImageSharp.Drawing 1.0.0-beta14
- ImageSharp 2.0.0

@tocsoft I have a hazy memory of you saying something about this before, something related to an `IsDirty` check. Am I right?

[2022-02-24 04:13] parzivail commented on #203
Did some more testing and found that the transparent Pen `emptyPen` actually draws black in this instance, using the default alpha composition and color blending options. Not sure if it's related.

[2022-02-24 05:19] JimBobSquarePants commented on #203
Not related. You've chosen a pixel format,`Rgb24`,  with no alpha component.

[2022-02-24 05:32] parzivail commented on #203
Good point, oversight on my part. Shouldn't change the table, however, if you then interpret it as a Black pen and a Red one. Looks like the text might look as expected without the pen in that case.

[2022-02-24 09:04] tocsoft commented on #203
@JimBobSquarePants you remembered correctly, to be honest I had forgot I'd seen the bug. #204 should fix it.

[2022-02-24 12:13] #203 closed

[2022-02-24 15:55] parzivail commented on #203
Back at my desk -- this actually ended up solving my issue. Being able to stroke the text with a Transparent pen was the answer for me, apologies for the confusion!

[2022-02-25 00:46] JimBobSquarePants commented on #203
[1.0.0-beta14.4](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp.Drawing/1.0.0-beta14.4) contains a proper fix for the antialiasing issue.

[2022-02-26 02:36] #187 closed

[2022-03-02 00:10] ggolda commented on #9
@antonfirsov could you please explain how to make those corners transparent? I need to draw one image atop of another and it should have rounded corners.

The only result that I can achieve using example above is colored corners. If Color.Transparent is provided they are not visible at all (obviously). Is there a way to use those corners as a mask and hide parts of image that they overlap?

[2022-04-09 01:01] br3aker opened #215 "DrawTextProcessor memory leak from TessellatedMultipolygon"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-04-09 04:45] JimBobSquarePants commented on #215
Yep. That looks sensible. I'll run some tests later.

Thinking in the open, we should probably add an assertation in all our tests.

[code]

[2022-04-10 09:01] tocsoft commented on #215
should be covered/do able using the proposed helpers from #216 (which includes a fix for this issue)

[2022-04-12 19:48] #215 closed

[2022-04-13 02:20] JimBobSquarePants commented on #16
Is this not covered by our clipping functionality now? I.E draw then clip?

[2022-04-13 07:57] tocsoft commented on #16
yeah the [`ctx.Clip(..)`](https://docs.sixlabors.com/api/ImageSharp.Drawing/SixLabors.ImageSharp.Drawing.Processing.ClipPathExtensions.html#SixLabors_ImageSharp_Drawing_Processing_ClipPathExtensions_Clip_IImageProcessingContext_SixLabors_ImageSharp_Drawing_IPath_System_Action_IImageProcessingContext__) operation extension allow for this

[2022-04-13 07:57] #16 closed

[2022-04-16 10:25] #159 closed

[2022-04-19 05:02] ispysoftware opened #219 "Verdana windows layout broken"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-05-05 07:41] x3x4x5 opened #221 "Fill issue when using ImageBrush"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-05-25 08:27] MarkusGrafBuildDesk commented on #221
If the ImageBrush is orientated landscape, (e.g. width =125, height =90) you will get the exception _"Specified argument was out of the range of valid values. (Parameter 'DangerousGetRowSpan(99). Y was out of range. Height=90')".

Applying the change suggested above fixes also this issue.

[2022-05-25 12:37] JimBobSquarePants commented on #221
Thanks @x3x4x5 for providing so much information and also the suggested fix!

@MarkusGrafBuildDesk I can confirm that the PR #223 containing the fix works for your provided dimensions in both landscape and portrait. Thanks for the additional information.

[2022-05-27 11:51] arklumpus opened #224 "Infinite loop when calling GenerateOutline with width=0 and a dash pattern"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have verified that I am running the latest version of ImageSharp
- [X] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [X] I have searched [open](https://github.com/SixLabors/ImageSharp/issues) and [closed](https://github.com/SixLabors/ImageSharp/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it

[2022-05-29 12:15] #224 closed

[2022-06-01 18:40] arklumpus opened #226 "ImageProcessingException when using DrawImage to draw an image outside of the original image's bounds"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-06-08 11:41] brianpopow commented on #93
I have tried to reproduce this with the latest ImageSharp (2.1.2) / Drawing(1.0.0-beta14) version.

I do get an Exception in Release mode:

[code]

[2022-06-08 12:38] JimBobSquarePants commented on #93
Something we can point out upstream at least....

[2022-06-29 06:41] AndrewShepherd opened #234 "TextBuilder.GenerateGlyphs places the characters incorrectly with the specific word 'all'"
### Prerequisites

- [ ] I have written a descriptive issue title
- [ ] I have verified that I am running the latest version of Fonts
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ ] I have searched [open](https://github.com/SixLabors/Fonts/issues) and [closed](https://github.com/SixLabors/Fonts/issues?q=is%3Aissue+is%3Aclosed) issues to ensure it has not already

[2022-07-08 09:05] 3400442579 opened #235 "font "Microsoft YaHei" text="/" , error: Index was out of range. Must be non-negative and less than the size of the collection. (Parameter 'index')"
### Prerequisites

- [ ] I have written a descriptive issue title
- [ ] I have verified that I am running the latest version of ImageSharp.Drawing
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [ ] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-07-08 09:08] #235 closed

[2022-07-18 05:51] Michiel-de-Wolde opened #236 "Vertical line with a width of 1 pixel is not drawn"
Please find attached sample code that draws an L shape with 1-pixel width lines. The vertical line is not drawn. Change the width to 2 pixels and the L shape is correctly drawn. The versions are SixLabors.ImageSharp 2.1.3 and SixLabors.ImageSharp.Drawing 1.0.0-beta14.
[ConsoleApp1.zip](https://github.com/SixLabors/ImageSharp.Drawing/files/9129630/ConsoleApp1.zip)
.
For completeness I include the c

[2022-07-18 07:45] JimBobSquarePants commented on #236
@Michiel-de-Wolde If you update to the latest [MyGet](https://github.com/SixLabors/ImageSharp.Drawing#installation) build `1.0.0-beta14.16` then the issue will go away.

[2022-07-18 12:29] eangelov opened #237 "DrawText breaks when text ends with a trailing slash"
![DSCN0012](https://user-images.githubusercontent.com/3601104/179511373-92dd5908-354d-43d2-b66b-28cd5219bedf.jpg)
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/Ima

[2022-07-18 12:35] #237 closed

[2022-07-18 14:21] Michiel-de-Wolde commented on #236
Thank you. Super-quick response, great work. I tried the suggested version 1.0.0-beta14.16: problem solved.

[2022-07-21 14:02] remcoros opened #238 "Off-by-one error on Polygon (InternalPath).Bounds.Width and Length"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [ ] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-07-21 14:51] JimBobSquarePants commented on #238
@remcoros Can you try the latest [MyGet](https://github.com/SixLabors/ImageSharp.Drawing#installation) build `1.0.0-beta14.16`

[2022-07-21 15:02] remcoros commented on #238
@JimBobSquarePants I will as soon as I get home.

But I don't think that changes anything. As the issue is in this code:
https://github.com/SixLabors/ImageSharp.Drawing/blob/main/src/ImageSharp.Drawing/Shapes/InternalPath.cs#L88

which didn't change recently.

"Max(x) - Min(x)" has a off-by-one error if you start at '0'.

Some background:
In a geometrical coordinate system, going from 0mm, 0mm - 1

[2022-07-21 15:04] remcoros commented on #238
@tocsoft So what's the correct approach/code to get an exact 10x10 square (outline) on a 10x10 image. Pixel perfect, no anti-aliasing?

[2022-07-22 13:45] JimBobSquarePants commented on #238
After updating to 1.0.0-beta14.16 (which fixes 1px vertical line rendering #236) and running a comparison with both  SkiaSharp and System.Drawing it looks to me like we do exactly the same thing they do.

[code]
SkiaSharp
![skImage](https://user-images.githubusercontent.com/385879/180450151-faed75b8-ded6-4ed5-9b43-cd07cb6e13ef.png)

System.Drawing
![sdImage](https://user-images.githubusercontent.c

[2022-07-22 15:04] remcoros commented on #238
Thanks for the extensive explanations! Considering anti-aliasing, what @tocsoft explains makes sense.

Also looking at @JimBobSquarePants example above. Is it correct to assume that, if I want to draw a rectangle of 100x100 on a canvas of 100x100. I would need a (Rectangular)Polygon of 0,0,99,99 ?

So for my case (where I get a list of points from a 2D CAD application), I would need to subtract 1

[2022-07-22 15:12] JimBobSquarePants commented on #238
Yep, 0-99. It's all zero based.

That latest releases fixes a few things so yes, definitely give it a go.

[2022-07-22 15:19] remcoros commented on #238
Awesome! For the test geometry I had which had some really weird artifacts (even without anti-aliassing), they are all gone!

Thanks a lot for the explanations, it's a bit weird for me having worked a lot with geometrical data structures (A 'Line' entity with a starting point of 0,0 and an endpoint of 0,10 had a length of 10, and we map these one-to-one to lines/polygons within imagesharp). I unde

[2022-07-22 15:19] #238 closed

[2022-08-06 20:47] Computr1x opened #241 "drawText with PatternBrush ThrowArgumentOutOfRangeException"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-08-11 06:33] eangelov opened #242 "Incorrect render of Thai characters when ascii characters are present in rendered text"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-08-11 06:34] James-Jackson-South commented on #242
See https://github.com/SixLabors/Fonts/issues/215 we don't have a shaper for it yet.

[2022-08-11 10:41] JimBobSquarePants commented on #242
See https://github.com/SixLabors/Fonts/issues/215 we don't have a shaper for it yet.

I'll have a look at why it changes when mixed with English though as that's odd.

[2022-08-23 02:26] ZhuXiaoChun opened #243 "DrawText with translucent color, the alpha pixel not blend."
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-08-23 03:25] atruskie commented on #243
What pixel format is your image?

If it is Rgb24 you might be running into the same issue I had: https://github.com/SixLabors/ImageSharp.Drawing/issues/38

[2022-08-23 04:45] ZhuXiaoChun commented on #243
Yes, it's the same issue.

Thank you very much!

[2022-08-23 04:45] #243 closed

[2022-09-01 05:14] Fenyx4 opened #244 "Hangs when drawing a path"
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have verified that I am running the latest version of ImageSharp.Drawing
- [x] I have verified if the problem exist in both `DEBUG` and `RELEASE` mode
- [x] I have searched [open](https://github.com/SixLabors/ImageSharp.Drawing/issues) and [closed](https://github.com/SixLabors/ImageSharp.Drawing/issues?q=is%3Aissue+is%3Aclos

[2022-09-01 12:11] brianpopow commented on #244
This reproduction you provided is very big, it will be really hard to debug this in this form. Can you try to make it simpler?

[2022-09-06 10:39] Fenyx4 commented on #244
FYI I have been working on trimming this down.

As I trimmed it down I did discover a few things. It does not appear to run forever just a long, long time. Trimmed down versions run around an hour. When I remove some of the lines it drops down to around a minute. So I have been removing lines that don't cause it to drop below 50 minutes.

Oddly some lines I remove have caused the time to increase.

[2022-09-13 02:10] Fenyx4 commented on #244
Allrighty! Trimmed it down as much as I could and still have it above 50 minutes.

Hope that helps.

[2022-09-13 07:25] JimBobSquarePants commented on #244
Does the hang occur during the PathBuilder.ClosePath operation or during the actual drawing operation?

[2022-09-19 15:47] Fenyx4 commented on #244
Actual drawing operation

[2022-09-19 19:25] tocsoft commented on #244
The issue here is in the `.GenerateOutline()` extension/clipper library.

A much reduced case can be found with

[code]
this is the entry line that ends up hanging/taking a long time. https://github.com/SixLabors/ImageSharp.Drawing/blob/dc838dc5d82d5e143bcf7e14b15bb6c172dd1314/src/ImageSharp.Drawing/Shapes/Clipper/clipper.cs#L4828

[2022-09-20 04:10] JimBobSquarePants commented on #244
Looks like Clipper2 is out! Maybe we could try dropping it in as a replacement?

https://github.com/AngusJohnson/Clipper2/releases/tag/Clipper2_1.0.4

[2022-10-24 01:57] JimBobSquarePants commented on #244
Clipper2 seems to have the same problem. Will need to create an example and submit an issue/PR upstream.

We also cannot use them as a NuGet dependency as the library is not strong named.

[2022-11-30 14:01] chris-steema opened #250 "Flattening the result of a Clip gives different results for horizontal and vertical lines"
### Description
Flattening the result of a Clip gives different results for horizontal and vertical lines.

### Steps to Reproduce
[code]
I expect the Count of both result1 and result2 to be identical.

### System Configuration

- ImageSharp.Drawing version: 1.0.0-beta15
- Other ImageSharp packages and versions: ImageSharp v.2.1.3
- Environment (Operating system, version and so on): Win11 v.22H2
-